<!DOCTYPE html>
<html>
<style>
/*body {
  background-image: url('http://papers.co/wallpaper/papers.co-vs89-tree-leaf-green-pattern-nature-dark-28-wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #D3D3D3;
  padding: 8px;
}
#customer td, #customer th {
  border: 1px solid #BEBEBE;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A52A2A	;
  color: white;
}
p.two {
  border-style: solid;
  border-color: white;
}
</style>
  <head>
    <link rel="icon" type="png" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/PTT_Public_Company_logo.svg/1200px-PTT_Public_Company_logo.svg.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>:: หจก.เด่นห้าปิโตรเลี่ยม ::</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <img src="http://www.engineerfriend.com/wp-content/uploads/2012/10/Logo_PTT.png" width="5%" height="3%"><h2> &nbsp;<a href="/oil" class="navbar-brand" align="left"> หจก.เด่นห้าปิโตรเลี่ยม </a></h2>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03" >
          <ul class="navbar-nav mr-auto" >

      </ul>
    <div class="w3-container">
      <a href="/logout" class="w3-button w3-black w3-round-large">ออกจากระบบ</a>
    </div>
          </div>
  </nav>
</header>
<div class="container" >
    <div class="col-md-12">
    <% if (session.success == false) {%>

        <% if(session.test){ %> <div class="alert alert-danger" role="alert"> <%= session.test %> </div><% }  else{%>
              <%if(session.errors.errors){ for (var i=0;i<session.errors.errors.length;i++){ %>
    <div class="alert alert-danger" role="alert">
              <%= session.errors.errors[i]["msg"]%>
    </div>
              <% }}} session.success=null;}%>
              <% if (session.success == true) {%>
              <div class="alert alert-success" role="alert">
                <%= session.topic %>
              </div>
              <% } session.success=null; session.test=null; %>
              </div>
              </div>
