<!DOCTYPE html>
<html>
<style>
/*body {
  background-image: url('http://papers.co/wallpaper/papers.co-vs89-tree-leaf-green-pattern-nature-dark-28-wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #D3D3D3;
  padding: 8px;
}
#customer td, #customer th {
  border: 1px solid #BEBEBE;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A52A2A	;
  color: white;
}
p.two {
  border-style: solid;
  border-color: white;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn2 {
  background-color: #6E6E6E;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown:hover .dropbtn2 {
  background-color: #585858;
}
</style>
  <head>
    <link rel="icon" type="png" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/PTT_Public_Company_logo.svg/1200px-PTT_Public_Company_logo.svg.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>:: หจก.เด่นห้าปิโตรเลี่ยม ::</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <img src="http://www.engineerfriend.com/wp-content/uploads/2012/10/Logo_PTT.png" width="5%" height="3%"><h2> &nbsp;<a href="/branch_center" class="navbar-brand" align="left"> หจก.เด่นห้าปิโตรเลี่ยม  </a></h2 >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 <div class="collapse navbar-collapse" id="navbarColor03" >
  <ul class="navbar-nav mr-auto" >
      <div class="dropdown">
        <a href="/branch_center">
        <button class="dropbtn ">ปริมาณน้ำมัน</button>
      </a>
      </div>
      <div class="dropdown">
        <button class="dropbtn">ข้อมูลน้ำมัน</button>
        <div class="dropdown-content">
        <a href="/price">ราคาน้ำมัน</a>
        <a href="/price/differentlist">ผลต่างราคาน้ำมัน</a>
        <a href="/price/totlelist">ยอดคงเหลือ</a>

        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cash Flow</button>
        <div class="dropdown-content">
        <a href="/profit">กำไรขาดทุน</a>
        <a href="/balance">ยอดเงินกระแสรายวัน</a>
        <a href="/debt">ยอดลูกหนี้ค้างชำระ</a>
        <a href="/sum">สรุป</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">ข้อมูลพื้นฐาน</button>
        <div class="dropdown-content">
        <a href="/branch">สาขา</a>
        <a href="/sender">ผู้ส่ง</a>
        <a href="/bank">ธนาคาร</a>
        <a href="/branch_order">ใบสั่งซื้อ</a>
        <a href="/oil_type">ชนิดน้ำมัน</a>
        <a href="/match_oil_branch">จัดการน้ำมันของสาขา</a>

        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">ยอดขาย(ลิตร)</button>
        <div class="dropdown-content">
        <a href="/sale_liter">จัดการยอดขาย</a>
        <a href="/sale_liter/day_conclude">สรุปยอดขาย(วัน)</a>
        <a href="/sale_liter/year_conclude">สรุปยอดขาย(ปี)</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="/login">
        <button class="dropbtn ">กำหนดสิทธิ์</button>
      </a>
      </div>
    </ul>
      <div class="dropdown" >
        <a href="/logout">
        <button class="dropbtn2 ">ออกจากระบบ</button>
      </a>
      </div>
  </div>
  </nav>
</header>
<div class="container" >
    <div class="col-md-12">
    <% if (session.success == false) {%>

        <% if(session.test){ %> <div class="alert alert-danger" role="alert"> <%= session.test %> </div><% }  else{%>
              <%if(session.errors.errors){ for (var i=0;i<session.errors.errors.length;i++){ %>
    <div class="alert alert-danger" role="alert">
              <%= session.errors.errors[i]["msg"]%>
    </div>
              <% }}} session.success=null;}%>
              <% if (session.success == true) {%>
              <div class="alert alert-success" role="alert">
                <%= session.topic %>
              </div>
              <% }%>
              <% if (session.success2 == true) {%>
              <div class="alert alert-success" role="alert">
                <%= session.topic2 %>
              </div>
              <% } session.success=null; session.test=null; %>
            </div>
            </div>
