<!DOCTYPE html>
<html>
<style>
/*body {
  background-image: url('http://papers.co/wallpaper/papers.co-vs89-tree-leaf-green-pattern-nature-dark-28-wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #D3D3D3;
  padding: 8px;
}
#customer td, #customer th {
  border: 1px solid #BEBEBE;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #A52A2A	;
  color: white;
}
p.two {
  border-style: solid;
  border-color: white;
}
.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
</style>
  <head>
    <link rel="icon" type="png" href="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/PTT_Public_Company_logo.svg/1200px-PTT_Public_Company_logo.svg.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>:: หจก.เด่นห้าปิโตรเลี่ยม ::</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <img src="http://www.engineerfriend.com/wp-content/uploads/2012/10/Logo_PTT.png" width="5%" height="3%"><h2> &nbsp;<a href="#" class="navbar-brand" align="left"> หจก.เด่นห้าปิโตรเลี่ยม </a></h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  </nav>
</header>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
    <% if (session.success == false) {%>

        <% if(session.test){ %> <div class="alert alert-danger" role="alert"> <%= session.test %> </div><% }  else{%>
              <%if(session.errors.errors){ for (var i=0;i<session.errors.errors.length;i++){ %>
    <div class="alert alert-danger" role="alert">
              <%= session.errors.errors[i]["msg"]%>
    </div>
              <% }}} session.success=null;}%>
              <% if (session.success == true) {%>
              <div class="alert alert-success" role="alert">
                <%= session.topic %>
              </div>
              <% } session.success=null; session.test=null; %>
</div>
              </div>
              </div>
