<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> แก้ไขข้อมูลผู้ส่ง </h2>
      <br>
      <div class="card">
        <div class="card-body">

  <form action="/balance/save/<%= data[0].id %>" method="post">
    <div class="form-group">
      <div class="form-group">
        <label>1. วันที่ </label>
        <input type="date" name="date"  class="form-control " value="<%= data[0].date.toISOString().split('T')[0] %>" >
      </div
      <div class="form-group">
      <label >2. ชื่อธนาคาร</label>
      <select class="form-control" name="bank_id" >
      <option value="0"> กรุณาเลือก  </option>
      <%  if(data1){ %>
          <%  for (var i = 0; i < data1.length; i++) {  %>
          <option value=" <%= data1[i].id %> " <% if(data1) if(data[0].bank_id==data1[i].id){%> selected <%}%>  > <%= data1[i].name %></option>
      <%  } }%>
    </select>
      </div>

      <div class="form-group">
        <label>3. ยอดเงินคงเหลือทั้งหมด</label>
        <input type="text" name="balance" placeholder="ยอดเงินคงเหลือทั้งหมด" value="<%= data[0].balance%>" class="form-control" >
      </div>

    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/balance/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
