<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> เพิ่มข้อมูลผู้ส่ง </h2>
      <br>
      <div class="card" >
        <div class="card-body">

  <form action="/balance/add" method="post">
    <div class="form-group">
      <div class="form-group">
        <label>1. วันที่ </label>
        <input type="date" name="date" value="<%= new Date( ).toISOString().split('T')[0]%>" class="form-control " >
      </div
      <div class="form-group">
      <label >2. ชื่อธนาคาร</label>
      <select class="form-control" name="bank_id" >
      <option value="0"> กรุณาเลือก  </option>
      <%  if(data){ %>
          <%  for (var i = 0; i < data.length; i++) {  %>
          <option value=" <%= data[i].id %> " > <%= data[i].name %>  </option>
      <%  } }%>
    </select>
      </div>

      <div class="form-group">
        <label>3. ยอดเงินคงเหลือทั้งหมด</label>
        <input type="text" name="balance" placeholder="ยอดเงินคงเหลือทั้งหมด" class="form-control" >
      </div>

    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/balance/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
