<% include _header %>
<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ข้อมูลยอดเงิน </h2></th><br>

<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/balance" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a></td>
  </tr>
</table><br><br>
      <table class ="table table-bordered table-hover" border="0" id="customers">
        <thead>
          <tr align ="center" style=" background-color:#009966	; color: black;" >
            <th style="width:7%">ลำดับ</th>
            <th>วันที่</th>
            <th>ชื่อธนาคาร</th>
            <th>ยอดเงินคงเหลือในวัน</th>

          </tr>
        </thead>
        <tbody>
              <% if (data){ for (var i = 0; i < data.length; i++) { %>
              <tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <%= data[i].date%> </td>
              <td align ="center"> <%= data[i].name %> </td>
              <td align ="center"> <%= data[i].balance.toLocaleString('en') %> </td>
              </tr>
              <%  }} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include _footer %>
