<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ลบข้อมูลยอดเงิน </h2>
      <br>
      <div class="card">
        <div class="card-body">

          <div class="form-group">
            <div class="form-group">
              <label>1. วันที่ </label>
              <input type="text" name="date"  class="form-control " value="<%= data[0].date%>" >
            </div
            <div class="form-group">
              <label>2. ชื่อธนาคาร</label>
              <input type="text" name="balance" value="<%= data[0].name %>" class="form-control" >
            </div>

            <div class="form-group">
              <label>3. ยอดเงินคงเหลือทั้งหมด</label>
              <input type="text" name="balance" value="<%= data[0].balance.toLocaleString('en') %>" class="form-control" >
            </div>
    <a  href="/balance/confirmdelete/<%= data[0].id %> " class="btn btn-danger"> ยืนยัน </a>
    <a  href="/balance/ " class="btn btn-info"> ย้อนกลับ </a>

        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
