<% include _header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ข้อมูลยอดเงิน </h2></th><br>
      <form action="/balance/check" method="post">
        <table border="0" align="left">
          <tr>
            <td align="center"> <div class="form-group">
              <input class="form-control" type="date" name="date">
            </div></td>
          </tr>
        </table>
        <table border="0" align="left">
          <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ตรวจยอดเงินย้อนหลัง</button></td>
        </table>
      </form>

      <table  border="0" align="right">
        <tr >
          <td colspan="6">
            <a href="/balance/new" class = "btn btn-success" style="position:relative" >เพิ่ม</a></td>
          </tr>
        </table>
        <br><br>
        <table class ="table table-bordered table-hover" border="0" id="customers">
          <thead>
            <tr align ="center" style=" background-color:#009966	; color: black;" >
              <th style="width:7%">ลำดับ</th>
              <th>วันที่</th>
              <th>ชื่อธนาคาร</th>
              <th>ยอดเงินในบัญชี</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
              <% if (data){ for (var i = 0; i < data.length; i++) { %>
              <tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <%= data[i].date%> </td>
              <td align ="center"> <%= data[i].name%> </td>
              <%if (data[i].balance < 0) {%>
                <td style="color: red;" align ="center"> <%= data[i].balance.toLocaleString('en') %> </td>
              <%}else {%>
                <td align ="center"> <%= data[i].balance.toLocaleString('en') %> </td>
              <%}%>
              <td align ="center" style="width:15%">
                <a href="/balance/edit/<%= data[i].id %> " class="btn btn-info" style="width:80px;height:35px"> แก้ไข </a>
                <td align ="center" style="width:15%">
                <a href="/balance/delete/<%= data[i].id %> " class="btn btn-danger" style="width:80px;height:35px"> ลบ </a>
                </td>
              </tr>
              <%  }} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include _footer %>
