<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> เพิ่มข้อมูลผู้ส่ง </h2>
      <br>
      <div class="card" >
        <div class="card-body">

  <form action="/bank/add" method="post">
    <div class="form-group">
      <label>1. ชื่อธนาคาร</label>
      <input type="text" name="name" placeholder="ชื่อธนาคาร" class="form-control" >
    </div>
    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/bank/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
