<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> แก้ไขข้อมูลผู้ส่ง </h2>
      <br>
      <div class="card">
        <div class="card-body">

  <form action="/bank/save/<%= data[0].id %>" method="post">
    <div class="form-group">
      <label>1. ผู้ส่ง</label>
      <input type="text" name="name" value="<%= data[0].name %>" class="form-control" >
    </div>

    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/bank/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
