<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ลบข้อมูลธนาคาร </h2>
      <br>
      <div class="card">
        <div class="card-body">

    <div class="form-group">
      <label>1. ชื่อธนาคาร</label>
      <input type="text" name="name" value="<%= data1[0].name %>" class="form-control " readonly >
    </div>
    <a  href="/bank/confirmdelete/<%= data1[0].id %> " class="btn btn-danger"> ยืนยัน </a>
    <a  href="/bank/ " class="btn btn-info"> ย้อนกลับ </a>

        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
