<% include _header %>

    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-md-12">
          <h4 align="center" > ลบลงน้ำมันใต้ดินประจำวัน (ลิตร) </h4>
          <br>
          <div class="card">
            <div class="card-body">
              <div class="row text-left">
              <div class="col-md-6 mb-3">
        <div class="form-group">
          <label>1. วันที่ </label>
          <input type="date" name="cdate" value="<%= new Date( ).toISOString().split('T')[0]%>" class="form-control " readonly >
        </div>
          </div>
        <div class="col-md-6 mb-3">
        <div class="form-group">
          <label>2. สาขา </label>
          <input type="text" name="branch_id" value="<%= data[0].branch_name %>" class="form-control " readonly >
        </div>
          </div>
            </div>

        <label>3. ปริมาณน้ำมันในถังใต้ดิน</label>
        <table class ="table table-bordered table-hover" border="0" id="customer">
          <thead>
            <tr align ="center" >

              <th style=" background-color:#0066FF; color: white; width:8.3%">D1</th>
              <th style=" background-color:#0066FF; color: white; width:8.3%">D2</th>
              <th style=" background-color:#000033; color: white; width:8.3%">Dp</th>
              <th style=" background-color:#FFCC00; color: black; width:8.3%">UIG</th>
              <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
              <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
              <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
              <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            </tr>
          </thead>
          </table>

          <table class ="table table-bordered table-hover" border="0">
            <tbody >
              <input type="text" name="cd1" value="<% if(data[0].cd1 != "0"){ %> <%= data[0].cd1 %> <% } %>"  style=" width:12.5%" readonly>
              <input type="text" name="cd2" value="<% if(data[0].cd2 != "0"){ %> <%= data[0].cd2 %> <% } %>"  style=" width:12.5%" readonly>
              <input type="text" name="cdp" value="<% if(data[0].cdp != "0"){ %> <%= data[0].cdp %> <% } %>"  style=" width:12.5%" readonly>
              <input type="text" name="cuig" value="<% if(data[0].cuig != "0"){ %> <%= data[0].cuig %> <% } %>"  style=" width:12.5%" readonly>
              <input type="text" name="cg95" value="<% if(data[0].cg95 != "0"){ %> <%= data[0].cg95 %> <% } %>"  style=" width:12.5%" readonly>
              <input type="text" name="cg91" value="<% if(data[0].cg91 != "0"){ %> <%= data[0].cg91 %> <% } %>"  style=" width:12.5%" readonly>
              <input type="text" name="ce20" value="<% if(data[0].ce20 != "0"){ %> <%= data[0].ce20 %> <% } %>"  style=" width:12.5%" readonly>
              <input type="text" name="ce85" value="<% if(data[0].ce85 != "0"){ %> <%= data[0].ce85 %> <% } %>"  style=" width:12.5%" readonly>
          </table>
          <div class="row text-left">
          <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>4. ผู้ส่ง </label>
            <input type="text" name="sender_id" value="<%= data[0].sender_name %>" class="form-control " readonly >
          </div>
          </div>
          <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>5. ใบสั่งซื้อ </label>
            <input type="text" name="branch_id" value="<%= data[0].branch_name %>" class="form-control " readonly >
          </div>
          </div>
          </div>
        <a  href="/branch_center/confirmdelete/<%= data[0].center_id %> " class="btn btn-danger"> ยืนยัน </a>
        <a  href="/branch_center/ " class="btn btn-info"> ย้อนกลับ </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <% include _footer %>
