<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> แก้ไขข้อมูลสาขา </h2>
      <br>
      <div class="card">
        <div class="card-body">

  <form action="/branch/save/<%= data[0].branch_id %>" method="post">
    <div class="form-group">
      <label>1. สาขา</label>
      <input type="text" name="branch_name" value="<%= data[0].branch_name %>" class="form-control" >
    </div>
    <div class="form-group">
      <label>2. ที่อยู่</label>
      <input type="text" name="address" value="<%= data[0].address %>" class="form-control" >
    </div>
    <div class="form-group">
      <label>3. เบอร์โทรศัพท์</label>
      <input type="text" name="telephone" value="<%= data[0].telephone %>" class="form-control" >
    </div>

    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/branch/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
