<% include _header %>

    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-md-12">
          <h4 align="center" > แก้ไขลงน้ำมันใต้ดินประจำวัน (ลิตร) </h4>
          <br>
          <div class="card">
            <div class="card-body">

      <form action="/branch_center/save/<%= data[0].center_id %>" method="post">
        <div class="row text-left">
        <div class="col-md-6 mb-3">
        <div class="form-group">
          <label>1. วันที่ </label>
          <input type="date" name="cdate" value="<%= data7[0].cdate %>" class="form-control "  >
        </div>
        </div>
        <div class="col-md-6 mb-3">
        <div class="form-group">
          <label>2. สาขา </label>
          <select class="form-control" name="oil_id" >
          <option > กรุณาเลือก  </option>
          <%  if(data2){ %>
                    <%  for (var i = 0; i < data2.length; i++) {  %>
                    <option value=" <%= data2[i].oil_id %> " <% if(data) if(data2[i].oil_id==data[0].oil_id){%> selected <%}%>  > <%= data2[i].branch_name %>  </option>
                <%  } }%>
          </select>
        </div>
        </div>
        </div>

        <label>3. ปริมาณน้ำมันในถังใต้ดิน</label>
        <table class ="table table-bordered table-hover" border="0" id="customer">
          <thead>
            <tr align ="center" >

              <th style=" background-color:#0066FF; color: white; width:8.3%">D1</th>
              <th style=" background-color:#0066FF; color: white; width:8.3%">D2</th>
              <th style=" background-color:#000033; color: white; width:8.3%">Dp</th>
              <th style=" background-color:#FFCC00; color: black; width:8.3%">UIG</th>
              <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
              <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
              <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
              <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            </tr>
          </thead>
          </table>

          <table class ="table table-bordered table-hover" border="0">
            <tbody >
                <input type="text" name="cd1" value="<% if(data[0].cd1 != "0"){ %> <%= data[0].cd1 %> <% } %>"  style=" width:12.5%" >
                <input type="text" name="cd2" value="<% if(data[0].cd2 != "0"){ %> <%= data[0].cd2 %> <% } %>"  style=" width:12.5%" >
                <input type="text" name="cdp" value="<% if(data[0].cdp != "0"){ %> <%= data[0].cdp %> <% } %>"  style=" width:12.5%" >
                <input type="text" name="cuig" value="<% if(data[0].cuig != "0"){ %> <%= data[0].cuig %> <% } %>"  style=" width:12.5%" >
                <input type="text" name="cg95" value="<% if(data[0].cg95 != "0"){ %> <%= data[0].cg95 %> <% } %>"  style=" width:12.5%" >
                <input type="text" name="cg91" value="<% if(data[0].cg91 != "0"){ %> <%= data[0].cg91 %> <% } %>"  style=" width:12.5%" >
                <input type="text" name="ce20" value="<% if(data[0].ce20 != "0"){ %> <%= data[0].ce20 %> <% } %>"  style=" width:12.5%" >
                <input type="text" name="ce85" value="<% if(data[0].ce85 != "0"){ %> <%= data[0].ce85 %> <% } %>"  style=" width:12.5%" >
          </table>
          <div class="row text-left">
          <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>4. ผู้ส่ง </label>
            <select class="form-control" name="sender_id" >
            <option > กรุณาเลือก  </option>
            <%  if(data4){ %>
                      <%  for (var i = 0; i < data4.length; i++) {  %>
                      <option value=" <%= data4[i].sender_id %> " <% if(data) if(data4[i].sender_id==data[0].sender_id){%> selected <%}%>  > <%= data4[i].sender_name %>  </option>
                  <%  } }%>
            </select>
          </div>
          </div>
          <div class="col-md-6 mb-3">
          <div class="form-group">
            <label>5. ใบสั่งซื้อ (ตั๋ว)</label>
            <select class="form-control" name="order_id" >
            <option > กรุณาเลือก  </option>
            <%  if(data5){ %>
                      <%  for (var i = 0; i < data5.length; i++) {  %>
                      <option value=" <%= data5[i].order_id %> " <% if(data) if(data5[i].order_id==data[0].order_id){%> selected <%}%>  > <%= data5[i].order_name %>  </option>
                  <%  } }%>
            </select>
          </div>
          </div>
          </div>
        <button type="submit" class="btn btn-danger"> บันทึก </button>
        <a  href="/branch_center/ " class="btn btn-info"> ย้อนกลับ </a>
      </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include _footer %>
