<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> แก้ไขข้อมูลใบสั่งซื้อน้ำมัน (ตั๋ว) </h2>
      <br>
      <div class="card">
        <div class="card-body">

  <form action="/branch_order/save/<%= data[0].order_id %>" method="post">
    <div class="form-group">
      <label>1. ใบสั่งซื้อ (ตั๋ว)</label>
      <input type="text" name="order_name" value="<%= data[0].order_name %>" class="form-control" >
    </div>

    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/branch_order/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
