<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ลบข้อมูลใบสั่งซื้อน้ำมัน (ตั๋ว) </h2>
      <br>
      <div class="card">
        <div class="card-body">

    <div class="form-group">
      <label>1. ใบสั่งซื้อ (ตั๋ว)</label>
      <input type="text" name="order_name" value="<%= data1[0].order_name %>" class="form-control " readonly >
    </div>
    <a  href="/branch_order/confirmdelete/<%= data1[0].order_id %> " class="btn btn-danger"> ยืนยัน </a>
    <a  href="/branch_order/ " class="btn btn-info"> ย้อนกลับ </a>

        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
