<% include _header %>
<% JSON.stringify(data1) %>

<div class="container" >
  <div class="row mt-3">
    <div class="col-md-12">
      <form action="/branch_center_date/check" method="post">
        <table border="0" align="left">
        <tr>
            <td align="center"> <div class="form-group">
                <select class="form-control"  name="date" >
                    <%  if(data1){ %>
                    <%  for (var i = 0; i < data1.length; i++) {  %>
                     <option value="<%= data1[i].date1 %> " > <%= data1[i].date1 %>  </option>
                    <%  } }%>
               </select>
            </div></td>
         </tr>
         </table>
         <table border="0" align="left">
           <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ตรวจน้ำมันย้อนหลัง</button></td>
           </table>
         </form>
         </div>
         <div class="col-md-12">
            <th><h4 align="center"> ปริมาณน้ำมันใต้ดิน วันนี้  </h4></th>
           <table  border="0" align="right">
             <tr >
               <td colspan="6">
                 <a href="/oil_b/new" class = "btn btn-success" style="position:relative" >เพิ่ม</a></td>
             </tr>
           </table><br><br>
      <table class ="table table-bordered table-hover" border="0" id="customer">
        <thead>
          <tr align ="center" >

            <th style=" background-color:#A0522D; color: white; width:9%">สาขา</th>
            <th style=" background-color:#0066FF; color: white; width:8.3%">D1</th>
            <th style=" background-color:#0066FF; color: white; width:8.3%">D2</th>
            <th style=" background-color:#000033; color: white; width:8.3%">Dp</th>
            <th style=" background-color:#FFCC00; color: black; width:8.3%">UIG</th>
            <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
            <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
            <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
            <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            <th colspan="2" style=" background-color:#A0522D; color: white;width:6%">จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <% if (data){%>
            <% for (var i = 0; i < data.length; i++) {%>
            <tr >
            <td align ="center" ><%=data[i].branch_name%></td>
            <td align ="center" ><%if(data[i].d1 =='0'){%>  <%} else {%><%=data[i].d1.toLocaleString('en')%><%}%> </td>
            <td align ="center" ><%if(data[i].d2 =='0'){%>  <%} else {%><%=data[i].d2.toLocaleString('en')%><%}%> </td>
            <td align ="center" ><%if(data[i].dp =='0'){%>  <%} else {%><%=data[i].dp.toLocaleString('en')%><%}%> </td>
            <td align ="center" ><%if(data[i].uig =='0'){%>  <%} else {%><%=data[i].uig.toLocaleString('en')%><%}%> </td>
            <td align ="center" ><%if(data[i].g95 =='0'){%>  <%} else {%><%=data[i].g95.toLocaleString('en')%><%}%> </td>
            <td align ="center" ><%if(data[i].g91 =='0'){%>  <%} else {%><%=data[i].g91.toLocaleString('en')%><%}%> </td>
            <td align ="center" ><%if(data[i].e20 =='0'){%>  <%} else {%><%=data[i].e20.toLocaleString('en')%><%}%> </td>
            <td align ="center" ><%if(data[i].e85 =='0'){%>  <%} else {%><%=data[i].e85.toLocaleString('en')%><%}%> </td>
            <td align ="center" style="width:12%">
              <a href="/oil_b/edit/<%=data[i].oil_id %> " class="btn btn-info"  style="width:80px;height:35px"> แก้ไข </a>
              <br><td align ="center" style="width:12%">
              <a href="/oil_b/delete/<%=data[i].oil_id %> " class="btn btn-danger" style="width:80px;height:35px"> ลบ </a>
              </td>


<%}}%>

        </tbody>
      </table>
<br>
<th><h4 align="center"> ปริมาณน้ำมันขนส่ง วันนี้ </h4></th>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/branch_center/new" class = "btn btn-success" style="position:relative" >เพิ่ม</a></td>
  </tr>
</table><br><br>

      <table class ="table table-bordered table-hover" border="0" id="customer">
        <thead>
          <tr align ="center" style=" background-color:#6495ED	; color: black;" >

            <th style=" background-color:#A0522D; color: white; width:9%">สาขา</th>
            <th style=" background-color:#0066FF; color: white; width:9%">D1</th>
            <th style=" background-color:#0066FF; color: white; width:9%">D2</th>
            <th style=" background-color:#000033; color: white; width:9%">Dp</th>
            <th style=" background-color:#FFCC00; color: black; width:9%">UIG</th>
            <th style=" background-color:#FF6600; color: white; width:9%">G95</th>
            <th style=" background-color:#006400; color: white; width:9%">G91</th>
            <th style=" background-color:#7CFC00; color: white; width:9%">E20</th>
            <th style=" background-color:#C71585; color: white; width:9%">E85</th>
            <th style=" background-color:#A0522D; color: white; width:10%">ผู้ส่ง</th>
            <th style=" background-color:#A0522D; color: white; width:10%">ใบสั่งซื้อ</th>
            <th colspan="2" style=" background-color:#A0522D; color: white;">จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <% if(data3){ %>
            <% for(var i=0;i<data3.length;i++){ %>
              <tr >
              <td align ="center" ><%=data3[i].branch_name%></td>
              <td align ="center" ><%if(data3[i].cd1 =='0'){%>  <%} else {%><%=data3[i].cd1.toLocaleString('en')%><%}%> </td>
              <td align ="center" ><%if(data3[i].cd2 =='0'){%>  <%} else {%><%=data3[i].cd2.toLocaleString('en')%><%}%> </td>
              <td align ="center" ><%if(data3[i].cdp =='0'){%>  <%} else {%><%=data3[i].cdp.toLocaleString('en')%><%}%> </td>
              <td align ="center" ><%if(data3[i].cuig =='0'){%>  <%} else {%><%=data3[i].cuig.toLocaleString('en')%><%}%> </td>
              <td align ="center" ><%if(data3[i].cg95 =='0'){%>  <%} else {%><%=data3[i].cg95.toLocaleString('en')%><%}%> </td>
              <td align ="center" ><%if(data3[i].cg91 =='0'){%>  <%} else {%><%=data3[i].cg91.toLocaleString('en')%><%}%> </td>
              <td align ="center" ><%if(data3[i].ce20 =='0'){%>  <%} else {%><%=data3[i].ce20.toLocaleString('en')%><%}%> </td>
              <td align ="center" ><%if(data3[i].ce85 =='0'){%>  <%} else {%><%=data3[i].ce85.toLocaleString('en')%><%}%> </td>
              <td align ="center" ><%=data3[i].sender_name%></td>
              <td align ="center" ><%=data3[i].order_name%></td>
              <td align ="center" style="width:12%">
                <a href="/branch_center/edit/<%= data3[i].center_id %> " class="btn btn-info"  style="width:80px;height:35px"> แก้ไข </a>
                <br><td align ="center" style="width:12%">
                <a href="/branch_center/delete/<%= data3[i].center_id %> " class="btn btn-danger" style="width:80px;height:35px"> ลบ </a>
                </td>


  <%}}%>
        </tbody>

      </table>
    </div>
  </div>
</div>
<% include _footer %>
