<% include _header %>
<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ข้อมูลใบสั่งซื้อน้ำมัน (ตั๋ว)</h2></th><br>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/branch_order/new" class = "btn btn-success" style="position:relative" >เพิ่ม</a></td>
  </tr>
</table>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/branch_center" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a></td>
  </tr>
</table><br><br>
      <table class ="table table-bordered table-hover" border="0" id="customers">
        <thead>
          <tr align ="center" style=" background-color:#009966	; color: black;" >
            <th style="width:7%">ลำดับ</th>
            <th>ใบสั่งซื้อ (ตั๋ว)</th>
            <th colspan="2">จัดการ</th>
          </tr>
        </thead>
        <tbody>
              <% if (data){ for (var i = 0; i < data.length; i++) { %>
              <tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <%= data[i].order_name %> </td>
              <td align ="center" style="width:15%">
                <a href="/branch_order/edit/<%= data[i].order_id %> " class="btn btn-info" style="width:80px;height:35px"> แก้ไข </a>
                <td align ="center" style="width:15%">
                <a href="/branch_order/delete/<%= data[i].order_id %> " class="btn btn-danger" style="width:80px;height:35px"> ลบ </a>
                </td>
              </tr>
              <%  }} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include _footer %>
