<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> เพิ่มข้อมูลสาขา </h2>
      <br>
      <div class="card" >
        <div class="card-body">

  <form action="/branch/add" method="post">
    <div class="form-group">
      <label>1. สาขา</label>
      <input type="text" name="branch_name" placeholder="สาขา" class="form-control" >
    </div>
    <div class="form-group">
      <label>2. ที่อยู่</label>
      <input type="text" name="address" placeholder="ที่อยู่" class="form-control" >
    </div>
    <div class="form-group">
      <label>3. เบอร์โทรศัพท์</label>
      <input type="text" name="telephone" placeholder="เบอร์โทรศัพท์" class="form-control" >
    </div>
    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/branch/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
