<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ลบข้อมูลสาขา </h2>
      <br>
      <div class="card">
        <div class="card-body">

    <div class="form-group">
      <label>1. สาขา</label>
      <input type="text" name="branch_name" value="<%= data1[0].branch_name %>" class="form-control " readonly >
    </div>
    <div class="form-group">
      <label>2. ที่อยู่</label>
      <input type="text" name="address" value="<%= data1[0].address %>" class="form-control " readonly >
    </div>
    <div class="form-group">
      <label>3. เบอร์โทรศัพท์</label>
      <input type="text" name="telephone" value="<%= data1[0].telephone %>" class="form-control " readonly >
    </div>
    <a  href="/branch/confirmdelete/<%= data1[0].branch_id %> " class="btn btn-danger"> ยืนยัน </a>
    <a  href="/branch/ " class="btn btn-info"> ย้อนกลับ </a>

        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
