<% include _header %>

<div class="container" >
  <div class="row mt-3">
    <div class="col-md-12">

      <form action="/checksum" method="post">
        <table border="0" align="left">
          <tr>
            <td align="center"> <div class="form-group">
              <input class="form-control" type="date" name="date" >
            </div></td>
          </tr>
        </table>
        <table border="0" align="left">
          <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">สรุปย้อนหลัง</button></td>
        </table>
      </form>

    </div>
  </div>
  <% if (data1[0]){%>
    <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ยอดคงเหลือย้อนหลัง วันที่ <%= data7[0].DT %> </h2></th><br>
      <table  border="0" align="right">
        <tr >
          <td colspan="6">
            <a href="/sum" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a>
          </td>
        </tr>
      </table><br><br>
      <table class ="table table-bordered table-hover" border="0" id="customers">
        <thead>
          <tr align ="center" style=" background-color:#009966	; color: black;" >

            <th th style=" background-color:#A0522D; color: white; width:9%">วัน/เดือน/ปี</th>
            <th style=" background-color:#006400; color: white; width:8.3%">น้ำมันใต้ดินรวม</th>
            <th style=" background-color:#0066FF; color: white; width:8.3%">น้ำมันขนส่ง</th>
            <th style=" background-color:#000033; color: white; width:8.3%">ยอดหนี้ธนาคาร</th>
            <th style=" background-color:#C71585; color: white; width:8.3%">ยอดลูกหนี้สะสม</th>
            <th style=" background-color:#000033; color: white; width:8.3%">รวม</th>

          </tr>
        </thead>
        <tbody>
          <% if (data3){%>
            <%  for (var i = 0; i < data3.length; i++){%>
              <%var sumdebt =data3[i].debt;%>
            <%}
          }%>
          <% if (data4){%>
            <%  for (var i = 0; i < data4.length; i++){%>
              <%var sumbalance =data4[i].balance;%>
            <%}
          }%>

          <% if (data2){%>
            <%var sumdiesel = 0;%>
            <%var sume85 = 0;%>
            <%var sume20 = 0;%>
            <%var sumg91 = 0;%>
            <%var sumg95 = 0;%>
            <%var sumulg = 0;%>
            <%var sumdp = 0;%>

            <%  for (var i = 0; i < data2.length; i++){
              var pd =data2[i].diesel;%>
              <%var pe85 =data2[i].e85;%>
              <%var pe20 =data2[i].e20;%>
              <%var pg91 =data2[i].g91;%>
              <%var pg95 =data2[i].g95;%>
              <%var pulg =data2[i].ulg;%>
              <%var pdp =data2[i].dp;%>

              <%   for (var i = 0; i < data1.length; i++) {%>
                <%var diesel = (((data1[i].d1)+(data1[i].d2))*pd);%>
                <%var dp = ((data1[i].dp)*pdp) ;%>
                <%var e85 = ((data1[i].e85)*pe85) ;%>
                <%var e20 = ((data1[i].e20)*pe20) ;%>
                <%var g91 = ((data1[i].g91)*pg91) ;%>
                <%var g95 = ((data1[i].g95)*pg95) ;%>
                <%var ulg = ((data1[i].uig)*pulg) ;%>

                <%var sdiesel = ((data1[i].d1)+(data1[i].d2));%>
                <%var sdp = (data1[i].dp);%>
                <%var se85 = (data1[i].e85);%>
                <%var se20 = (data1[i].e20);%>
                <%var sg91 = (data1[i].g91);%>
                <%var sg95 = (data1[i].g95);%>
                <%var sulg = (data1[i].uig);%>

                <%var q = parseInt(diesel);%>
                <%var w = parseInt(ulg);%>
                <%var e = parseInt(g95);%>
                <%var r = parseInt(g91);%>
                <%var t = parseInt(e20);%>
                <%var y = parseInt(e85);%>
                <%var u = parseInt(dp);%>

                <%var sq = parseInt(sdiesel);%>
                <%var sw = parseInt(sulg);%>
                <%var se = parseInt(sg95);%>
                <%var sr = parseInt(sg91);%>
                <%var st = parseInt(se20);%>
                <%var sy = parseInt(se85);%>
                <%var su = parseInt(sdp);%>

                <%var num = (q+w+e+r+t+y+u);%>
                <%var sumdiesel = sumdiesel+sq%>
              <%}
            }
          }%>

          <%if (data2){%>
            <%var sumdiesel = 0;%>
            <%var sume85 = 0;%>
            <%var sume20 = 0;%>
            <%var sumg91 = 0;%>
            <%var sumg95 = 0;%>
            <%var sumulg = 0;%>
            <%var sumdp = 0;%>

            <%for (var i = 0; i < data2.length; i++){
              var pd =data2[i].diesel;%>
              <%var pe85 =data2[i].e85;%>
              <%var pe20 =data2[i].e20;%>
              <%var pg91 =data2[i].g91;%>
              <%var pg95 =data2[i].g95;%>
              <%var pulg =data2[i].ulg;%>
              <%var pdp =data2[i].dp;%>

              <%for (var i = 0; i < data1.length; i++) {%>
                <%var sdiesel = (((data1[i].d1)+(data1[i].d2))*pd);%>
                <%var sdp = ((data1[i].dp)*pdp);%>
                <%var se85 = ((data1[i].e85)*pe85);%>
                <%var se20 = ((data1[i].e20)*pe20);%>
                <%var sg91 = ((data1[i].g91)*pg91);%>
                <%var sg95 = ((data1[i].g95)*pg95);%>
                <%var sulg = ((data1[i].uig)*pulg);%>


                <%var q = parseInt(diesel);%>
                <%var w = parseInt(ulg);%>
                <%var e = parseInt(g95);%>
                <%var r = parseInt(g91);%>
                <%var t = parseInt(e20);%>
                <%var y = parseInt(e85);%>
                <%var u = parseInt(dp);%>

                <%var sq = parseInt(sdiesel);%>
                <%var sw = parseInt(sulg);%>
                <%var se = parseInt(sg95);%>
                <%var sr = parseInt(sg91);%>
                <%var st = parseInt(se20);%>
                <%var sy = parseInt(se85);%>
                <%var su = parseInt(sdp);%>

                <%var num = (q+w+e+r+t+y+u);%>

                <%var sumdiesel = sumdiesel+sq;%>
                <%var sumulg = sumulg+sw%>
                <%var sumg95 = sumg95+se%>
                <%var sumg91 = sumg91+sr%>
                <%var sume20 = sume20+st%>
                <%var sume85 = sume85+sy%>
                <%var sumdp = sumdp+su%>
                <%var sumcashflow = (sumdiesel+sumdp+sume85+sume20+sumg91+sumg95+sumulg)%>
              <%}
            }
          }%>

          <% if (data2){%>
            <%var sumcdiesel = 0;%>
            <%var sumce85 = 0;%>
            <%var sumce20 = 0;%>
            <%var sumcg91 = 0;%>
            <%var sumcg95 = 0;%>
            <%var sumculg = 0;%>
            <%var sumcdp = 0;%>

            <%  for (var i = 0; i < data2.length; i++){
              var pd =data2[i].diesel;%>
              <%var pe85 =data2[i].e85;%>
              <%var pe20 =data2[i].e20;%>
              <%var pg91 =data2[i].g91;%>
              <%var pg95 =data2[i].g95;%>
              <%var pulg =data2[i].ulg;%>
              <%var pdp =data2[i].dp;%>

              <%   for (var i = 0; i < data5.length; i++) {%>
                <%var cdiesel = ((data5[i].cd)*pd);%>
                <%var cdp = ((data5[i].cdp)*pdp);%>
                <%var ce85 = ((data5[i].ce85)*pe85);%>
                <%var ce20 = ((data5[i].ce20)*pe20);%>
                <%var cg91 = ((data5[i].cg91)*pg91);%>
                <%var cg95 = ((data5[i].cg95)*pg95);%>
                <%var culg = ((data5[i].cuig)*pulg);%>

                <%var scq = parseInt(cdiesel);%>
                <%var scw = parseInt(culg);%>
                <%var sce = parseInt(cg95);%>
                <%var scr = parseInt(cg91);%>
                <%var sct = parseInt(ce20);%>
                <%var scy = parseInt(ce85);%>
                <%var scu = parseInt(cdp);%>

                <%var num = (q+w+e+r+t+y+u);%>

                <%var sumdieselc = sumcdiesel+scq;%>
                <%var sumulgc = sumculg+scw;%>
                <%var sumg95c = sumcg95+sce;%>
                <%var sumg91c = sumcg91+scr;%>
                <%var sume20c = sumce20+sct;%>
                <%var sume85c = sumce85+scy;%>
                <%var sumdpc = sumcdp+scu;%>
                <%var sumc = sumdieselc+sumdpc+sume85c+sume20c+sumg91c+sumg95c+sumulgc;%>
              <%}
            }
          }%>
          <% if (sumcashflow == null) {%>
            <%var sumcashflow = 0;%>
          <%}%>
          <% if (sumc == null) {%>
            <%var sumc = 0;%>
          <%}%>
          <% if (sumbalance == null) {%>
            <%var sumbalance = 0;%>
          <%}%>
          <% if (sumdebt == null) {%>
            <%var sumdebt = 0;%>
          <%}%>
          <tr  style=" background-color:; color: white; ">
            <td align ="center" style=" background-color:#FFCC00; color: black; width:8.3%"> <%=data7[0].DT %></td>
            <td align ="center" style=" background-color:#FFCC00; color: black; width:8.3%"> <%=(sumcashflow).toLocaleString()%> .B</td>
            <td align ="center" style=" background-color:#FFCC00; color: black; width:8.3%"> <%=(sumc).toLocaleString('en')%> .B</td>
            <%if (sumbalance < 0) {%>
              <td align ="center" style=" background-color:#FFCC00; color: red; width:8.3%"> <%=(sumbalance.toLocaleString())%> .B</td>
            <%}else {%>
              <td align ="center" style=" background-color:#FFCC00; color: black; width:8.3%"> <%=(sumbalance.toLocaleString())%> .B</td>
            <%}%>
              <td align ="center" style=" background-color:#FFCC00; color: black; width:8.3%"> <%=(sumdebt).toLocaleString('en')%> .B</td>
              <%var sumall = sumcashflow+sumbalance+sumdebt+sumc%>
              <td align ="center" style=" background-color:#FFCC00; color: black; width:8.3%"> <%=(sumall).toLocaleString('en')%> .B</td>

            </tr>
          </tbody>
        </table>
      </div>
    <% }%>
  </div>
<% include _footer %>
