<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ลบข้อมูลยอดหนี้สะสม </h2>
      <br>
      <div class="card">
        <div class="card-body">

          <div class="form-group">
            <div class="form-group">
              <label>1. วันที่ </label>
              <input type="text" name="date"  class="form-control " value="<%= data[0].date%>" readonly>
            </div

            <div class="form-group">
              <label>2. ยอดหนี้สะสม</label>
              <input type="text" name="debt" value="<%= data[0].debt.toLocaleString('en') %>" class="form-control" readonly >
            </div>
    <a  href="/debt/confirmdelete/<%= data[0].id %> " class="btn btn-danger"> ยืนยัน </a>
    <a  href="/debt/ " class="btn btn-info"> ย้อนกลับ </a>

        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
