<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> เพิ่มข้อมูลยอดลูกหนี้สะสม </h2>
      <br>
      <div class="card" >
        <div class="card-body">

  <form action="/debt/add" method="post">
    <div class="form-group">
      <div class="form-group">
        <label>1. วันที่ </label>
        <input type="date" name="date" value="<%= new Date( ).toISOString().split('T')[0]%>" class="form-control " >
      </div

      <div class="form-group">
        <label>2. ยอดลูกหนี้สะสม</label>
        <input type="text" name="debt" placeholder="ยอดลูกหนี้สะสม" class="form-control" >
      </div>

    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/debt/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
