<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> แก้ไขข้อมูลยอดลูกหนี้สะสม </h2>
      <br>
      <div class="card">
        <div class="card-body">

  <form action="/debt/save/<%= data[0].id %>" method="post">
    <div class="form-group">
      <div class="form-group">
        <label>1. วันที่ </label>
        <input type="date" name="date"  class="form-control " value="<%= data[0].date %>" >
      </div

      <div class="form-group">
        <label>2. ยอดลูกหนี้สะสม</label>
        <input type="text" name="debt" placeholder="ยอดลูกหนี้สะสม" value="<%= data[0].debt%>" class="form-control" >
      </div>

    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/debt/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
