<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> แก้ไขข้อมูลผู้ใช้งาน </h2>
      <br>
      <div class="card">
        <div class="card-body">

  <form action="/login/save/<%= data[0].login_id %>" method="post">
    <div class="form-group">
      <label>1. Username</label>
      <input type="text" name="username" value="<%= data[0].username %>" class="form-control" >
    </div>
    <div class="form-group">
      <label>2. Password</label>
      <input type="password" name="password" value="<%= data[0].password %>" class="form-control" >
    </div>
    <div class="form-group">
      <label>3. ชื่อ</label>
      <input type="text" name="name" value="<%= data[0].name %>" class="form-control" >
    </div>
    <div class="form-group">
      <label>4. นามสกุล</label>
      <input type="text" name="lastname" value="<%= data[0].lastname %>" class="form-control" >
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1"   name="enable" <%if(data[0].enable==1){ %> checked  <% } else { } %>>
       <label class="custom-control-label" for="customSwitch1">สิทธ์ผู้ใช้งาน</label>
  </div><br>
    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/login/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
