<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ลบข้อมูลผู้ใช้งาน </h2>
      <br>
      <div class="card">
        <div class="card-body">

    <div class="form-group">
      <label>1. Username</label>
      <input type="text" name="username" value="<%= data1[0].username %>" class="form-control " readonly >
    </div>
    <div class="form-group">
      <label>2. Password</label>
      <input type="password" name="password" value="<%= data1[0].password %>" class="form-control " readonly >
    </div>
    <div class="form-group">
      <label>3. ชื่อ</label>
      <input type="text" name="name" value="<%= data1[0].name %>" class="form-control " readonly >
    </div>
    <div class="form-group">
      <label>4. นามสกุล</label>
      <input type="text" name="lastname" value="<%= data1[0].lastname %>" class="form-control " readonly >
    </div>
    <div class="form-group">
      <label>สิทธ์ผู้ใช้งาน : <% if(data1[0].enable==1){ %> ผู้ดูแลระบบ  <% } else { %> ผู้ใช้งานทั่วไป  <%}  %> </label>
    </div>
    <a  href="/login/confirmdelete/<%= data1[0].login_id %> " class="btn btn-danger"> ยืนยัน </a>
    <a  href="/login/ " class="btn btn-info"> ย้อนกลับ </a>

        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
