<% include _header %>
<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ข้อมูลผู้ใช้งาน</h2></th><br>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/login/new" class = "btn btn-success" style="position:relative" >เพิ่ม</a></td>
  </tr>
</table>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/branch_center" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a></td>
  </tr>
</table><br><br>
      <table class ="table table-bordered table-hover" border="0" id="customers">
        <thead>
          <tr align ="center" style=" background-color:#009966	; color: black;" >
            <th style="width:7%">ลำดับ</th>
            <th style="width:10%">ชื่อผู้ใช้</th>
            <th style="width:15%">ชื่อ</th>
            <th style="width:15%">นามสกุล</th>
            <th style="width:15%">สิทธ์ผู้ใช้งาน</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
              <% if (data){ for (var i = 0; i < data.length; i++) { %>
              <tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <%= data[i].username %> </td>
              <td align ="center"> <%= data[i].name %> </td>
              <td align ="center"> <%= data[i].lastname %> </td>
              <td align="center"> <% if(data[i].enable==1){ %> ผู้ดูแลระบบ  <% } else { %> ผู้ใช้งานทั่วไป  <%}  %>   </td>
              <td align ="center" style="width:15%">
                <a href="/login/edit/<%= data[i].login_id %> " class="btn btn-info" style="width:80px;height:35px"> แก้ไข </a>
                <td align ="center" style="width:15%">
                <a href="/login/delete/<%= data[i].login_id %> " class="btn btn-danger" style="width:80px;height:35px"> ลบ </a>
                </td>
              </tr>
              <%  }} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include _footer %>
