<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> เพิ่มข้อมูลผู้ใช้งาน </h2>
      <br>
      <div class="card" >
        <div class="card-body">

  <form action="/login/add" method="post">
    <div class="form-group">
      <label>1. ชื่อผู้ใช้</label>
      <input type="text" name="username" placeholder="ชื่อผู้ใช้" class="form-control" >
    </div>
    <div class="form-group">
      <label>2. รหัสผ่าน</label>
      <input type="text" name="password" placeholder="รหัสผ่าน" class="form-control" >
    </div>
    <div class="form-group">
      <label>3. ชื่อ</label>
      <input type="text" name="name" placeholder="ชื่อ" class="form-control" >
    </div>
    <div class="form-group">
      <label>4. นามสกุล</label>
      <input type="text" name="lastname" placeholder="นามสกุล" class="form-control" >
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1"  name="enable">
        <label class="custom-control-label" for="customSwitch1">สิทธ์ผู้ใช้งาน</label>
  </div><br>
    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/login/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
