<% include _header2 %>

<br>
<h2 align ="center"> ลงชื่อเข้าใช้งาน </h2><br>
<div class="container" >
  <div class="row justify-content-md-center" >
    <div class="col col-lg-6">
      <div class="card">
        <div class="card-body">
          <form action="/" method="post">

            <div class="form-group">
            ชื่อผู้ใช้งาน  <input type="text" name="username" placeholder="username" class="form-control" >
            </div>
            <div class="form-group">
            รหัสผ่าน  <input type="password" name="password" placeholder="password" class="form-control" >
            </div>
            <button type="submit" class="btn btn-primary"> เข้าสู่ระบบ </button>

          </form>
        </div>
        </div>
        </div>
        </div>
        </div>


<% include _footer2 %>
