<% include _header %>

    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-md-12">
          <h4 align="center" > น้ำมันใต้ดินประจำวัน (ลิตร) </h4>
          <br>
          <div class="card">
            <div class="card-body">

      <form action="/oil_b/add" method="post">
        <div class="row text-left">
        <div class="col-md-6 mb-3">
        <div class="form-group">
          <label>1. วันที่ </label>
          <input type="date" name="date" value="<%= new Date((new Date()).setDate((new Date()).getDate()-1)).toISOString().split('T')[0]%>" class="form-control "  >
        </div>
        </div>
        <div class="col-md-6 mb-3">
        <div class="form-group">
          <label>2. สาขา</label>
            <select class="form-control" name="branch_id" >
            <option value="0"> กรุณาเลือก  </option>
            <%  if(data3){ %>
              <%  for (var i = 0; i < data3.length; i++) {  %>
            <option value="<%= data3[i].branch_id %>" > <%= data3[i].branch_name %>  </option>
            <%  } }%>
            </select>
        </div>
</div>
</div>
        <label>3. ปริมาณน้ำมันในถังใต้ดิน</label>
        <table class ="table table-bordered table-hover" border="0" id="customer">
          <thead>
            <tr align ="center" >

              <th style=" background-color:#0066FF; color: white; width:8.3%">D1</th>
              <th style=" background-color:#0066FF; color: white; width:8.3%">D2</th>
              <th style=" background-color:#000033; color: white; width:8.3%">Dp</th>
              <th style=" background-color:#FFCC00; color: black; width:8.3%">UIG</th>
              <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
              <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
              <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
              <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            </tr>
          </thead>
          </table>

          <table class ="table table-bordered table-hover" border="0">
            <tbody >

                <input type="text" name="d1" placeholder="D1"   style=" width:12.5%">
                <input type="text" name="d2" placeholder="D2"   style=" width:12.5%">
                <input type="text" name="dp" placeholder="DP"   style=" width:12.5%">
                <input type="text" name="uig" placeholder="UIG" style=" width:12.5%">
                <input type="text" name="g95" placeholder="G95" style=" width:12.5%">
                <input type="text" name="g91" placeholder="G91" style=" width:12.5%">
                <input type="text" name="e20" placeholder="E20" style=" width:12.5%">
                <input type="text" name="e85" placeholder="E85" style=" width:12.5%">
          </table>
          <br>
        <button type="submit" class="btn btn-danger"> บันทึก </button>
        <a  href="/branch_center/ " class="btn btn-info"> ย้อนกลับ </a>
      </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include _footer %>
