<% include _header1 %>

    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-md-12">
          <h4 align="center" > ลบปริมาณน้ำมันในถังใต้ดิน (ลิตร) </h4>
          <br>
          <div class="card">
            <div class="card-body">
              <div class="row text-left">
              <div class="col-md-6 mb-3">
        <div class="form-group">
          <label>1. วันที่ </label>
          <input type="date" name="date" value="<%= new Date( ).toISOString().split('T')[0]%>" class="form-control " readonly >
        </div>
        </div>
        <div class="col-md-6 mb-3">
        <div class="form-group">
          <label>2. สาขา </label>
          <input type="text" name="branch_id" value="<%= data[0].branch_name %>" class="form-control " readonly >
        </div>
</div>
</div>
        <label>3. ปริมาณน้ำมันในถังใต้ดิน</label>
        <table class ="table table-bordered table-hover" border="0" id="customer">
          <thead>
            <tr align ="center" >

              <th style=" background-color:#0066FF; color: white; width:8.3%">D1</th>
              <th style=" background-color:#0066FF; color: white; width:8.3%">D2</th>
              <th style=" background-color:#000033; color: white; width:8.3%">Dp</th>
              <th style=" background-color:#FFCC00; color: black; width:8.3%">UIG</th>
              <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
              <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
              <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
              <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            </tr>
          </thead>
          </table>

          <table class ="table table-bordered table-hover" border="0">
            <tbody >
                <input type="text" name="d1" value="<% if(data[0].d1 != "0"){ %> <%= data[0].d1 %> <% } %>"  style=" width:12.5%" readonly>
                <input type="text" name="d2" value="<% if(data[0].d2 != "0"){ %> <%= data[0].d2 %> <% } %>"  style=" width:12.5%" readonly>
                <input type="text" name="dp" value="<% if(data[0].dp != "0"){ %> <%= data[0].dp %> <% } %>"  style=" width:12.5%" readonly>
                <input type="text" name="uig" value="<% if(data[0].uig != "0"){ %> <%= data[0].uig %> <% } %>"  style=" width:12.5%" readonly>
                <input type="text" name="g95" value="<% if(data[0].g95 != "0"){ %> <%= data[0].g95 %> <% } %>"  style=" width:12.5%" readonly>
                <input type="text" name="g91" value="<% if(data[0].g91 != "0"){ %> <%= data[0].g91 %> <% } %>"  style=" width:12.5%" readonly >
                <input type="text" name="e20" value="<% if(data[0].e20 != "0"){ %> <%= data[0].e20 %> <% } %>"  style=" width:12.5%" readonly>
                <input type="text" name="e85" value="<% if(data[0].e85 != "0"){ %> <%= data[0].e85 %> <% } %>"  style=" width:12.5%" readonly>
          </table>
          <br>
        <a  href="/oil/confirmdelete/<%= data[0].oil_id %> " class="btn btn-danger"> ยืนยัน </a>
        <a  href="/oil/ " class="btn btn-info"> ย้อนกลับ </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <% include _footer1 %>
