<% include _header %>
<div class="container" >
  <div class="row mt-3">
    <div class="col-md-12">
      <form action="/price/check" method="post">
        <table border="0" align="left">
        <tr>
            <td align="center"> <div class="form-group">
                <input class="form-control" type="date" name="date" >
            </div></td>
         </tr>
         </table>
         <table border="0" align="left">
           <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ราคาน้ำมันย้อนหลัง</button></td>
           </table>
         </form>
         <form action="/price/different" method="post">
           <table border="0" align="left">
           <tr>
               <td align="center"> <div class="form-group">
                   <input class="form-control" type="date" name="pdate" >
               </div></td>
            </tr>
            </table>
            <table border="0" align="left">
              <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ผลต่างราคาน้ำมันย้อนหลัง</button></td>
              </table>
            </form>


           <form action="/price/totle" method="post">
              <table border="0" align="left">
              <tr>
                  <td align="center"> <div class="form-group">
                      <input class="form-control" type="date" name="pdate" >
                  </div></td>
               </tr>
               </table>
               <table border="0" align="left">
                 <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ยอดคงเหลือย้อนหลัง</button></td>
                 </table>
               </form>
               </div>
         </div>

         <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ราคาปรับน้ำมัน วันที่ <%= datadate.split('-')[2] %>/<%= datadate.split('-')[1] %>/<%= datadate.split('-')[0] %> </h2></th><br>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/price" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a></td>
  </tr>

</table><br><br>

      <table class ="table table-bordered table-hover" border="0" id="customers">
        <thead>
          <tr align ="center" style=" background-color:#009966	; color: black;" >
            <th style=" background-color:#A0522D; color: white; width:7%">ลำดับ</th>
            <th th style=" background-color:#A0522D; color: white; width:9%">วันที่</th>
            <th style=" background-color:#0066FF; color: white; width:8.3%">ดีเซล</th>
            <th style=" background-color:#000033; color: white; width:8.3%">ดีเซล (P)</th>
            <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
            <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
            <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
            <th style=" background-color:#FFCC00; color: black; width:8.3%">ULG</th>
          </tr>
        </thead>
        <tbody>
              <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
              	<% if (i==1 && !data[0]) { %>
                   <tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <% if(priceall[0].date1 != "0"){ %> <%= priceall[0].date1 %> <% } %> </td>
              <td align ="center"> <% if(priceall[0].diesel != "0"){ %> <%= priceall[0].diesel %> <% } %> </td>
              <td align ="center"> <% if(priceall[0].dp != "0"){ %> <%= priceall[0].dp %> <% } %> </td>
              <td align ="center"> <% if(priceall[0].e85 != "0"){ %> <%= priceall[0].e85 %> <% } %> </td>
              <td align ="center"> <% if(priceall[0].e20 != "0"){ %> <%= priceall[0].e20 %> <% } %> </td>
              <td align ="center"> <% if(priceall[0].g91 != "0"){ %> <%= priceall[0].g91 %> <% } %> </td>
              <td align ="center"> <% if(priceall[0].g95 != "0"){ %> <%= priceall[0].g95 %> <% } %> </td>
              <td align ="center"> <% if(priceall[0].ulg != "0"){ %> <%= priceall[0].ulg %> <% } %> </td>
              </tr>

		<% }else{ %>
		<tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <% if(priceall[i].date1 != "0"){ %> <%= priceall[i].date1 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].diesel != "0"){ %> <%= priceall[i].diesel %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].dp != "0"){ %> <%= priceall[i].dp %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].e85 != "0"){ %> <%= priceall[i].e85 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].e20 != "0"){ %> <%= priceall[i].e20 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].g91 != "0"){ %> <%= priceall[i].g91 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].g95 != "0"){ %> <%= priceall[i].g95 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].ulg != "0"){ %> <%= priceall[i].ulg %> <% } %> </td>
              </tr>

              <% } }} %>
              <% if (pricesumedit){ %>
              <tr style=" background-color:#1D24FE; color: white; ">
                <td align ="center"  > ราคาปรับ </td>
         	<% if(!data[0]){ %>
		 <td align ="center"> <% if(!data[0]){ %> <%= datadate.split('-')[2] %>/<%= datadate.split('-')[1] %>/<%= datadate.split('-')[0] %>  <% } %> </td>
              <td align ="center"> 0 %> </td>
              <td align ="center"> 0 </td>
              <td align ="center"> 0 </td>
              <td align ="center"> 0 </td>
              <td align ="center"> 0 </td>
              <td align ="center"> 0 </td>
              <td align ="center"> 0  </td>

		<% }else{ %>
              <td align ="center"> <% if(!data[0]){ %> TEST  <% } %> </td>
              <td align ="center"> <% if(pricesumedit[0].diesel != "0"){ %> <%= pricesumedit[0].diesel %> <% } %> </td>
              <td align ="center"> <% if(pricesumedit[0].dp != "0"){ %> <%= pricesumedit[0].dp %> <% } %> </td>
              <td align ="center"> <% if(pricesumedit[0].e85 != "0"){ %> <%= pricesumedit[0].e85 %> <% } %> </td>
              <td align ="center"> <% if(pricesumedit[0].e20 != "0"){ %> <%= pricesumedit[0].e20 %> <% } %> </td>
              <td align ="center"> <% if(pricesumedit[0].g91 != "0"){ %> <%= pricesumedit[0].g91 %> <% } %> </td>
              <td align ="center"> <% if(pricesumedit[0].g95 != "0"){ %> <%= pricesumedit[0].g95 %> <% } %> </td>
              <td align ="center"> <% if(pricesumedit[0].ulg != "0"){ %> <%= pricesumedit[0].ulg %> <% } %> </td>
		<% } %>

              </tr>

              <%  } %>
        </tbody>
      </table>
    </div>

  </div>
<% include _footer %>
