<% include _header %>
<div class="container" >
  <div class="row mt-3">
    <div class="col-md-12">
      <form action="/price/check" method="post">
        <table border="0" align="left">
        <tr>
            <td align="center"> <div class="form-group">
                <input class="form-control" type="date" name="date" >
            </div></td>
         </tr>
         </table>
         <table border="0" align="left">
           <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ราคาน้ำมันย้อนหลัง</button></td>
           </table>
         </form>
         <form action="/price/different" method="post">
           <table border="0" align="left">
           <tr>
               <td align="center"> <div class="form-group">
                   <input class="form-control" type="date" name="pdate" >
               </div></td>
            </tr>
            </table>
            <table border="0" align="left">
              <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ผลต่างราคาน้ำมัน</button></td>
              </table>
            </form>

           <form action="/price/totle" method="post">
              <table border="0" align="left">
              <tr>
                  <td align="center"> <div class="form-group">
                      <input class="form-control" type="date" name="pdate" >
                  </div></td>
               </tr>
               </table>
               <table border="0" align="left">
                 <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ยอดคงเหลือ</button></td>
                 </table>
               </form>
               </div>
         <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ข้อมูลราคาน้ำมัน วันที่ <%=date3[0].DT%></h2></th><br>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/price/new" class = "btn btn-success" style="position:relative" >เพิ่ม</a></td>
  </tr>
</table>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/branch_center" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a></td>
  </tr>
</table><br><br>
      <table class ="table table-bordered table-hover" border="0" id="customers" >
        <thead>
          <tr align ="center" style=" background-color:#009966	; color: black;" >
            <th th style=" background-color:#A0522D; color: white; width:7%">ลำดับ</th>
            <th th style=" background-color:#A0522D; color: white; width:9%">วันเปลี่ยน</th>
            <th style=" background-color:#0066FF; color: white; width:8.3%">ดีเซล</th>
            <th style=" background-color:#000033; color: white; width:8.3%">ดีเซล (P)</th>
            <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
            <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
            <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
            <th style=" background-color:#FFCC00; color: black; width:8.3%">ULG</th>

          </tr>
        </thead>
        <tbody>
              <% if (data){ for (var i = 0; i < data.length; i++) { %>
              <tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <%= data2[i].pdate %> </td>
              <td align ="center"> <% if(data[i].diesel != "0"){ %> <%= data[i].diesel %> <% } %> </td>
              <td align ="center"> <% if(data[i].dp != "0"){ %> <%= data[i].dp %> <% } %> </td>
              <td align ="center"> <% if(data[i].e85 != "0"){ %> <%= data[i].e85 %> <% } %> </td>
              <td align ="center"> <% if(data[i].e20 != "0"){ %> <%= data[i].e20 %> <% } %> </td>
              <td align ="center"> <% if(data[i].g91 != "0"){ %> <%= data[i].g91 %> <% } %> </td>
              <td align ="center"> <% if(data[i].g95 != "0"){ %> <%= data[i].g95 %> <% } %> </td>
              <td align ="center"> <% if(data[i].ulg != "0"){ %> <%= data[i].ulg %> <% } %> </td>


              </tr>
              <%  }} %>
              <% if (data2){ for (var i = 0; i < data2.length; i++) { %>
              <tr>
              <td align ="center"  > <%= (i+2) %> </td>
              <td align ="center"> <%= data2[i].pdate %> </td>
              <td align ="center"> <% if(data2[i].diesel != "0"){ %> <%= data2[i].diesel %> <% } %> </td>
              <td align ="center"> <% if(data2[i].dp != "0"){ %> <%= data2[i].dp %> <% } %> </td>
              <td align ="center"> <% if(data2[i].e85 != "0"){ %> <%= data2[i].e85 %> <% } %> </td>
              <td align ="center"> <% if(data2[i].e20 != "0"){ %> <%= data2[i].e20 %> <% } %> </td>
              <td align ="center"> <% if(data2[i].g91 != "0"){ %> <%= data2[i].g91 %> <% } %> </td>
              <td align ="center"> <% if(data2[i].g95 != "0"){ %> <%= data2[i].g95 %> <% } %> </td>
              <td align ="center"> <% if(data2[i].ulg != "0"){ %> <%= data2[i].ulg %> <% } %> </td>

              </tr>
              <tr>
              <td align ="center"  > ราคาปรับ </td>
              <td align ="center"> <%= date3[0].DT %>  </td>
              <td align ="center"> <%= data[i].diesel - data2[i].diesel %> </td>
              <td align ="center"> <%= data[i].dp - data2[i].dp %>  </td>
              <td align ="center"> <%= data[i].e85 - data2[i].e85 %>  </td>
              <td align ="center"> <%= data[i].e20 - data2[i].e20 %>  </td>
              <td align ="center"> <%= data[i].g91 - data2[i].g91 %>  </td>
              <td align ="center"> <%= data[i].g95 - data2[i].g95 %> </td>
              <td align ="center"> <%= data[i].ulg - data2[i].ulg %>  </td>

              </tr>
              <%  }} %>
        </tbody>
      </table>


    </div>
  </div>
</div>
<% include _footer %>
