<% include _header %>
<br>
<div class="container" >
  <div class="row justify-content-md-center" >
    <div class="col col-lg-10">
      <h2 align="center" style="color: black;"> ลบข้อมูลราคาน้ำมัน </h2>
      <br>
      <div class="card">
        <div class="card-body">

      <div class="row text-left">
        <div class="col-md-12 mb-3">
          <div class="form-group">
              <label>1. วันที่ </label>
              <input type="date" name="pdate" value="<%= data2[0].pdate %>" class="form-control "  readonly>
            </div>
          </div>
        </div>
        <label>2. ราคาน้ำมัน</label>
        <table class ="table table-bordered table-hover" border="0" id="customer">
          <thead>
            <tr align ="center">
              <th style=" background-color:#0066FF; color: white; width:8.3%">ดีเซล</th>
              <th style=" background-color:#000033; color: white; width:8.3%">ดีเซล (P)</th>
              <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
              <th style=" background-color:#7CFC00; color: black; width:8.3%">E20</th>
              <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
              <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
              <th style=" background-color:#FFCC00; color: white; width:8.3%">ULG</th>
            </tr>
          </thead>
          </table>
          <table class ="table table-bordered table-hover" border="0" >
            <tbody >
              <input type="text" name="diesel" value="<% if(data[0].diesel != "0"){ %> <%= data[0].diesel %> <% } %>"  style=" width:14.2%" readonly>
              <input type="text" name="dp" value="<% if(data[0].dp != "0"){ %> <%= data[0].dp %> <% } %>"  style=" width:14.3%" readonly>
              <input type="text" name="e85" value="<% if(data[0].e85 != "0"){ %> <%= data[0].e85 %> <% } %>"  style=" width:14.3%" readonly>
              <input type="text" name="e20" value="<% if(data[0].e20 != "0"){ %> <%= data[0].e20 %> <% } %>"  style=" width:14.3%" readonly>
              <input type="text" name="g91" value="<% if(data[0].g91 != "0"){ %> <%= data[0].g91 %> <% } %>"  style=" width:14.3%" readonly>
              <input type="text" name="g95" value="<% if(data[0].g95 != "0"){ %> <%= data[0].g95 %> <% } %>"  style=" width:14.3%" readonly>
              <input type="text" name="ulg" value="<% if(data[0].ulg != "0"){ %> <%= data[0].ulg %> <% } %>"  style=" width:14.3%" readonly>
                </tbody >
          </table>

            <a  href="/price/confirmdelete/<%= data[0].price_id %> " class="btn btn-danger"> ยืนยัน </a>
            <a  href="/price/ " class="btn btn-info"> ย้อนกลับ </a>

        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
