<% include _header %>
<div class="container" >
  <div class="row mt-3">
    <div class="col-md-12">
      <form action="/price/check" method="post">
        <table border="0" align="left">
        <tr>
            <td align="center"> <div class="form-group">
                <select class="form-control"  name="pdate" >
                    <%  if(data1){ %>
                    <%  for (var i = 0; i < data1.length; i++) {  %>
                     <option value="<%= data1[i].date1 %>" > <%= data1[i].date1 %>  </option>
                    <%  } }%>
               </select>
            </div></td>
         </tr>
         </table>
         <table border="0" align="left">
           <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ตรวจราคาน้ำมันย้อนหลัง</button></td>
           </table>
         </form>
         <form action="/price/different" method="post">
           <table border="0" align="left">
           <tr>
               <td align="center"> <div class="form-group">
                   <select class="form-control"  name="pdate" >
                       <%  if(data2){ %>
                       <%  for (var i = 0; i < data2.length; i++) {  %>
                        <option value="<%= data2[i].date1 %>" > <%= data2[i].date2 %>  </option>
                       <%  } }%>
                  </select>
               </div></td>
            </tr>
            </table>
            <table border="0" align="left">
              <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ตรวจผลต่างราคาน้ำมันย้อนหลัง</button></td>
              </table>
            </form>
            <br>
              <br>
                <br>
            <form action="/price/totle" method="post">
              <table border="0" align="left">
              <tr>
                  <td align="center"> <div class="form-group">
                      <select class="form-control"  name="pdate" >
                          <%  if(data2){ %>
                          <%  for (var i = 0; i < data2.length; i++) {  %>
                           <option value="<%= data2[i].date1 %>" > <%= data2[i].date2 %>  </option>
                          <%  } }%>
                     </select>
                  </div></td>
               </tr>
               </table>
               <table border="0" align="left">
                 <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ตรวจรวมปริมาณ&ราคาน้ำมันย้อนหลัง</button></td>
                 </table>
               </form>
         </div>
         <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ราคาปรับน้ำมันในแต่ละวัน </h2></th><br>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/price" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a></td>
  </tr>

</table><br><br>

      <table class ="table table-bordered table-hover" border="0" id="customers">
        <thead>
          <tr align ="center" style=" background-color:#009966	; color: black;" >
            <th style=" background-color:#A0522D; color: white; width:7%">ลำดับ</th>
            <th style=" background-color:#000080; color: white; width:9%">วัน/เดือน/ปี</th>
            <th style=" background-color:#0066FF; color: white; width:8.3%">ดีเซล</th>
            <th style=" background-color:#000033; color: white; width:8.3%">ดีเซล (P)</th>
            <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
            <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
            <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
            <th style=" background-color:#FFCC00; color: black; width:8.3%">ULG</th>
          </tr>
        </thead>
        <tbody>
              <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
              <tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <%= priceall[i].date1 %> </td>
              <td align ="center"> <% if(priceall[i].diesel != "0"){ %> <%= priceall[i].diesel %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].dp != "0"){ %> <%= priceall[i].dp %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].e85 != "0"){ %> <%= priceall[i].e85 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].e20 != "0"){ %> <%= priceall[i].e20 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].g91 != "0"){ %> <%= priceall[i].g91 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].g95 != "0"){ %> <%= priceall[i].g95 %> <% } %> </td>
              <td align ="center"> <% if(priceall[i].ulg != "0"){ %> <%= priceall[i].ulg %> <% } %> </td>
              </tr>
              <%  }} %>
              <% if (pricelist){ %>
              <tr style=" background-color:#1D24FE; color: white; ">
                <td align ="center"  > ราคาปรับ </td>
              <td align ="center"> <%= data[0].pdate %> </td>
              <td align ="center"> <% if(pricelist[0].diesel != "0"){ %> <%= pricelist[0].diesel %> <% } %> </td>
              <td align ="center"> <% if(pricelist[0].dp != "0"){ %> <%= pricelist[0].dp %> <% } %> </td>
              <td align ="center"> <% if(pricelist[0].e85 != "0"){ %> <%= pricelist[0].e85 %> <% } %> </td>
              <td align ="center"> <% if(pricelist[0].e20 != "0"){ %> <%= pricelist[0].e20 %> <% } %> </td>
              <td align ="center"> <% if(pricelist[0].g91 != "0"){ %> <%= pricelist[0].g91 %> <% } %> </td>
              <td align ="center"> <% if(pricelist[0].g95 != "0"){ %> <%= pricelist[0].g95 %> <% } %> </td>
              <td align ="center"> <% if(pricelist[0].ulg != "0"){ %> <%= pricelist[0].ulg %> <% } %> </td>
              </tr>
              <%  } %>
        </tbody>
      </table>

      <table border="0" id="customers" width="30%">
        <thead>
              <tr align ="center" style=" background-color:#008080	; color: white;" >
                <th style=" background-color:#A0522D; color: white; width:30%">ชนิด</th>
                <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
                <td align ="center" > <% if(priceall[i].date1 != "0"){ %> <%= priceall[i].date1 %> <% } %> </td>
                <%  }} %>
                <% if (pricelist){ %>
                  <td align ="center" style=" background-color:#000080; color: white; "> ราคาปรับของวันที่ <%=data[0].pdate%> </td>
                    <%  } %>
                  </tr>
                  <tr align ="center" >
                    <th style=" background-color:#0066FF; color: white; ">ดีเซล</th>
                    <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
                    <td align ="center" > <% if(priceall[i].diesel != "0"){ %> <%= priceall[i].diesel %> <% } %> </td>
                    <%  }} %>
                    <% if (pricelist){ %>
                      <td align ="center" style=" background-color:#000080; color: white;  width:23%">→ <% if(pricelist[0].diesel != "0"){ %> <%= pricelist[0].diesel %> <% } %>  </td>
                        <%  } %>
                      </tr>
                      <tr align ="center"  >
                        <th style=" background-color:#000033; color: white; ">ดีเซล(P)</th>
                        <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
                        <td align ="center" > <% if(priceall[i].dp != "0"){ %> <%= priceall[i].dp %> <% } %> </td>
                        <%  }} %>
                        <% if (pricelist){ %>
                          <td align ="center" style=" background-color:#000080; color: white; ">→ <% if(pricelist[0].dp != "0"){ %> <%= pricelist[0].dp %> <% } %>  </td>
                            <%  } %>
                          </tr>
                      <tr align ="center" >
                        <th style=" background-color:#C71585; color: white; ">E85</th>
                        <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
                        <td align ="center" > <% if(priceall[i].e85 != "0"){ %> <%= priceall[i].e85 %> <% } %> </td>
                        <%  }} %>
                        <% if (pricelist){ %>
                          <td align ="center" style=" background-color:#000080; color: white; ">→ <% if(pricelist[0].e85 != "0"){ %> <%= pricelist[0].e85 %> <% } %>  </td>
                            <%  } %>
                          </tr>
                          <tr align ="center">
                            <th style=" background-color:#7CFC00; color: white; ">E20</th>
                            <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
                            <td align ="center" > <% if(priceall[i].e20 != "0"){ %> <%= priceall[i].e20 %> <% } %> </td>
                            <%  }} %>
                            <% if (pricelist){ %>
                              <td align ="center" style=" background-color:#000080; color: white; ">→ <% if(pricelist[0].e20 != "0"){ %> <%= pricelist[0].e20 %> <% } %>  </td>
                                <%  } %>
                              </tr>
                              <tr align ="center" >
                                <th style=" background-color:#006400; color: white; ">G91</th>
                                <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
                                <td align ="center" > <% if(priceall[i].g91 != "0"){ %> <%= priceall[i].g91 %> <% } %> </td>
                                <%  }} %>
                                <% if (pricelist){ %>
                                  <td align ="center" style=" background-color:#000080; color: white; ">→ <% if(pricelist[0].g91 != "0"){ %> <%= pricelist[0].g91 %> <% } %>  </td>
                                    <%  } %>
                                  </tr>
                                  <tr align ="center" >
                                    <th style=" background-color:#FF6600; color: white; ">G95</th>
                                    <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
                                    <td align ="center" > <% if(priceall[i].g95 != "0"){ %> <%= priceall[i].g95 %> <% } %> </td>
                                    <%  }} %>
                                    <% if (pricelist){ %>
                                      <td align ="center" style=" background-color:#000080; color: white; ">→ <% if(pricelist[0].g95 != "0"){ %> <%= pricelist[0].g95 %> <% } %>  </td>
                                        <%  } %>
                                      </tr>
                                      <tr align ="center" >
                                        <th style=" background-color:#FFCC00; color: white; ">ULG</th>
                                        <% if (priceall){ for (var i = 0; i < priceall.length; i++) { %>
                                        <td align ="center" > <% if(priceall[i].ulg != "0"){ %> <%= priceall[i].ulg %> <% } %> </td>
                                        <%  }} %>
                                        <% if (pricelist){ %>
                                          <td align ="center" style=" background-color:#000080; color: white; ">→ <% if(pricelist[0].ulg != "0"){ %> <%= pricelist[0].ulg %> <% } %>  </td>
                                            <%  } %>
                                          </tr>

        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include _footer %>
