<% include _header %>
<div class="container" >
  <div class="row mt-3">
    <div class="col-md-12">
      <form action="/price/check" method="post">
        <table border="0" align="left">
        <tr>
            <td align="center"> <div class="form-group">
                <input class="form-control" type="date" name="date" >
            </div></td>
         </tr>
         </table>
         <table border="0" align="left">
           <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ราคาน้ำมันย้อนหลัง</button></td>
           </table>
         </form>
         <form action="/price/different" method="post">
           <table border="0" align="left">
           <tr>
               <td align="center"> <div class="form-group">
                   <input class="form-control" type="date" name="pdate" >
               </div></td>
            </tr>
            </table>
            <table border="0" align="left">
              <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ผลต่างราคาน้ำมันย้อนหลัง</button></td>
              </table>
            </form>


           <form action="/price/totle" method="post">
              <table border="0" align="left">
              <tr>
                  <td align="center"> <div class="form-group">
                      <input class="form-control" type="date" name="pdate" >
                  </div></td>
               </tr>
               </table>
               <table border="0" align="left">
                 <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ยอดคงเหลือย้อนหลัง</button></td>
                 </table>
               </form>
               </div>
         </div>
         <% if (data1[0]){%>
         <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ยอดคงเหลือย้อนหลัง วันที่ <%= data1[0].date %> </h2></th><br>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/price" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a></td>
  </tr>
</table><br><br>
<table class ="table table-bordered table-hover" border="0" id="customers">
  <thead>
    <tr align ="center" style=" background-color:#009966	; color: black;" >

      <th th style=" background-color:#A0522D; color: white; width:9%">วัน/เดือน/ปี</th>
      <th style=" background-color:#006400; color: white; width:8.3%">สาขา</th>
      <th style=" background-color:#0066FF; color: white; width:8.3%">ดีเซล</th>
      <th style=" background-color:#000033; color: white; width:8.3%">ดีเซล (P)</th>
      <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
      <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
      <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
      <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
      <th style=" background-color:#FFCC00; color: black; width:8.3%">ULG</th>
      <th style=" background-color:#FF0000; color: white; width:10%">รวม</th>
    </tr>
  </thead>
  <tbody>
    <% if (data1){%>
      <%var sum = 0;%>
      <%  for (var i = 0; i < data1.length; i++){%>
    <tr >

    <td align ="center"><%= data1[i].date %> </td>
    <td align ="center"><%= data1[i].branch_name %> </td>
    <td align ="center"> <%=((data1[i].d1)+(data1[i].d2)).toLocaleString('en')%> l.</td>
    <td align ="center"> <%=(data1[i].dp).toLocaleString('en')%></td>
    <td align ="center"> <%=(data1[i].e85).toLocaleString('en')%> </td>
    <td align ="center"> <%=(data1[i].e20).toLocaleString('en')%> </td>
    <td align ="center"> <%=(data1[i].g91).toLocaleString('en')%> </td>
    <td align ="center"> <%=(data1[i].g95).toLocaleString('en')%> </td>
    <td align ="center"> <%=(data1[i].uig).toLocaleString('en')%> </td>
    <td align ="center"> ↓ </td>

    </tr>
    <%  }} %>
    <% if (data2){%>
      <%var sumdiesel = 0;%>
      <%var sume85 = 0;%>
      <%var sume20 = 0;%>
      <%var sumg91 = 0;%>
      <%var sumg95 = 0;%>
      <%var sumulg = 0;%>
      <%var sumdp = 0;%>

      <%  for (var i = 0; i < data2.length; i++){

          var pd =data2[i].diesel;%>

          <%var pe85 =data2[i].e85;%>
          <%var pe20 =data2[i].e20;%>
          <%var pg91 =data2[i].g91;%>
          <%var pg95 =data2[i].g95;%>
          <%var pulg =data2[i].ulg;%>
          <%var pdp =data2[i].dp;%>

            <%   for (var i = 0; i < data1.length; i++) {%>

              <%var sdiesel = ((data1[i].d1)+(data1[i].d2));%>
              <%var sdp = (data1[i].dp);%>
              <%var se85 = (data1[i].e85);%>
              <%var se20 = (data1[i].e20);%>
              <%var sg91 = (data1[i].g91);%>
              <%var sg95 = (data1[i].g95);%>
              <%var sulg = (data1[i].uig);%>



              <%var sq = parseInt(sdiesel);%>
              <%var sw = parseInt(sulg);%>
              <%var se = parseInt(sg95);%>
              <%var sr = parseInt(sg91);%>
              <%var st = parseInt(se20);%>
              <%var sy = parseInt(se85);%>
              <%var su = parseInt(sdp);%>
              <%var date =data1[i].date;%>

              <%var sumdiesel = sumdiesel+sq%>
              <%var sumulg = sumulg+sw%>
              <%var sumg95 = sumg95+se%>
              <%var sumg91 = sumg91+sr%>
              <%var sume20 = sume20+st%>
              <%var sume85 = sume85+sy%>
              <%var sumdp = sumdp+su%>






    <%  }%>
                <tr  style=" background-color:#0E5CC1; color: white; ">


                <td align ="center" colspan="2">ปริมาณน้ำมัน (ลิตร)</td>
                <td align ="center"><%=sumdiesel.toLocaleString('en')%> </td>
                <td align ="center"><%=sumdp.toLocaleString('en')%> </td>
                <td align ="center"><%=sume85.toLocaleString('en')%> </td>
                <td align ="center"><%=sume20.toLocaleString('en')%> </td>
                <td align ="center"><%=sumg91.toLocaleString('en')%> </td>
                <td align ="center"><%=sumg95.toLocaleString('en')%> </td>
                <td align ="center"><%=sumulg.toLocaleString('en')%> </td>


                <td align ="center" style=" background-color:#FFCC00; color: black; width:8.3%">→ <%=(sumdiesel+sumdp+sume85+sume20+sumg91+sumg95+sumulg).toLocaleString('en')%> .L</td>


                </tr>
  <%}} %>
        <% if (data2){%>
          <%var sumdiesel = 0;%>
          <%var sume85 = 0;%>
          <%var sume20 = 0;%>
          <%var sumg91 = 0;%>
          <%var sumg95 = 0;%>
          <%var sumulg = 0;%>
          <%var sumdp = 0;%>

          <%  for (var i = 0; i < data2.length; i++){
              var pd =data2[i].diesel;%>
              <%var pe85 =data2[i].e85;%>
              <%var pe20 =data2[i].e20;%>
              <%var pg91 =data2[i].g91;%>
              <%var pg95 =data2[i].g95;%>
              <%var pulg =data2[i].ulg;%>
              <%var pdp =data2[i].dp;%>

                <%   for (var i = 0; i < data1.length; i++) {%>
                  <%var diesel = (((data1[i].d1)+(data1[i].d2))*pd);%>
                  <%var dp = ((data1[i].dp)*pdp) ;%>
                  <%var e85 = ((data1[i].e85)*pe85) ;%>
                  <%var e20 = ((data1[i].e20)*pe20) ;%>
                  <%var g91 = ((data1[i].g91)*pg91) ;%>
                  <%var g95 = ((data1[i].g95)*pg95) ;%>
                  <%var ulg = ((data1[i].uig)*pulg) ;%>

                  <%var sdiesel = ((data1[i].d1)+(data1[i].d2));%>
                  <%var sdp = (data1[i].dp);%>
                  <%var se85 = (data1[i].e85);%>
                  <%var se20 = (data1[i].e20);%>
                  <%var sg91 = (data1[i].g91);%>
                  <%var sg95 = (data1[i].g95);%>
                  <%var sulg = (data1[i].uig);%>

                  <%var q = parseInt(diesel);%>
                  <%var w = parseInt(ulg);%>
                  <%var e = parseInt(g95);%>
                  <%var r = parseInt(g91);%>
                  <%var t = parseInt(e20);%>
                  <%var y = parseInt(e85);%>
                  <%var u = parseInt(dp);%>

                  <%var sq = parseInt(sdiesel);%>
                  <%var sw = parseInt(sulg);%>
                  <%var se = parseInt(sg95);%>
                  <%var sr = parseInt(sg91);%>
                  <%var st = parseInt(se20);%>
                  <%var sy = parseInt(se85);%>
                  <%var su = parseInt(sdp);%>

                  <%var num = (q+w+e+r+t+y+u);%>
                  <%var sumdiesel = sumdiesel+sq%>

                  <tr  >

                  <td align ="center"><%= data1[i].date %></td>
                  <td align ="center"><%= data1[i].branch_name %> </td>
                  <td align ="center"><%=diesel.toLocaleString('en')%> </td>
                  <td align ="center"><%=dp.toLocaleString('en')%> </td>
                  <td align ="center"><%=e85.toLocaleString('en')%> </td>
                  <td align ="center"><%=e20.toLocaleString('en')%> </td>
                  <td align ="center"><%=g91.toLocaleString('en')%> </td>
                  <td align ="center"><%=g95.toLocaleString('en')%> </td>
                  <td align ="center"><%=ulg.toLocaleString('en')%> </td>


                  <td align ="center"  >→ <%=(num).toLocaleString('en')%> .B</td>


                  </tr>

        <%  }}} %>

      <% if (data2){%>
        <%var sumdiesel = 0;%>
        <%var sume85 = 0;%>
        <%var sume20 = 0;%>
        <%var sumg91 = 0;%>
        <%var sumg95 = 0;%>
        <%var sumulg = 0;%>
        <%var sumdp = 0;%>

        <%  for (var i = 0; i < data2.length; i++){
            var pd =data2[i].diesel;%>
            <%var pe85 =data2[i].e85;%>
            <%var pe20 =data2[i].e20;%>
            <%var pg91 =data2[i].g91;%>
            <%var pg95 =data2[i].g95;%>
            <%var pulg =data2[i].ulg;%>
            <%var pdp =data2[i].dp;%>

              <%   for (var i = 0; i < data1.length; i++) {%>
                <%var sdiesel = (((data1[i].d1)+(data1[i].d2))*pd);%>
                <%var sdp = ((data1[i].dp)*pdp);%>
                <%var se85 = ((data1[i].e85)*pe85);%>
                <%var se20 = ((data1[i].e20)*pe20);%>
                <%var sg91 = ((data1[i].g91)*pg91);%>
                <%var sg95 = ((data1[i].g95)*pg95);%>
                <%var sulg = ((data1[i].uig)*pulg);%>


                <%var q = parseInt(diesel);%>
                <%var w = parseInt(ulg);%>
                <%var e = parseInt(g95);%>
                <%var r = parseInt(g91);%>
                <%var t = parseInt(e20);%>
                <%var y = parseInt(e85);%>
                <%var u = parseInt(dp);%>

                <%var sq = parseInt(sdiesel);%>
                <%var sw = parseInt(sulg);%>
                <%var se = parseInt(sg95);%>
                <%var sr = parseInt(sg91);%>
                <%var st = parseInt(se20);%>
                <%var sy = parseInt(se85);%>
                <%var su = parseInt(sdp);%>

                <%var num = (q+w+e+r+t+y+u);%>

                <%var sumdiesel = sumdiesel+sq;%>
                <%var sumulg = sumulg+sw%>
                <%var sumg95 = sumg95+se%>
                <%var sumg91 = sumg91+sr%>
                <%var sume20 = sume20+st%>
                <%var sume85 = sume85+sy%>
                <%var sumdp = sumdp+su%>



      <%  }}%>
      <tr  style=" background-color:#003BFF ; color: white; ">


      <td align ="center" colspan="2">ราคาน้ำมัน (บาท)</td>
      <td align ="center"><%=sumdiesel.toLocaleString('en')%> </td>
      <td align ="center"><%=sumdp.toLocaleString('en')%> </td>
      <td align ="center"><%=sume85.toLocaleString('en')%> </td>
      <td align ="center"><%=sume20.toLocaleString('en')%> </td>
      <td align ="center"><%=sumg91.toLocaleString('en')%> </td>
      <td align ="center"><%=sumg95.toLocaleString('en')%> </td>
      <td align ="center"><%=sumulg.toLocaleString('en')%> </td>


      <td align ="center" style=" background-color:#FFCC00; color: black; width:8.3%">→ <%=(sumdiesel+sumdp+sume85+sume20+sumg91+sumg95+sumulg).toLocaleString('en')%> .B</td>


      </tr><%} %>


  </tbody>
</table>
</div>
<% }%>
</div>
<% include _footer %>
