<% include _header %>
<div class="container" >
  <div class="row mt-3">
    <div class="col-md-12">
      <form action="/price/check" method="post">
        <table border="0" align="left">
        <tr>
            <td align="center"> <div class="form-group">
                <input class="form-control" type="date" name="date" >
            </div></td>
         </tr>
         </table>
         <table border="0" align="left">
           <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ราคาน้ำมันย้อนหลัง</button></td>
           </table>
         </form>
         <form action="/price/different" method="post">
           <table border="0" align="left">
           <tr>
               <td align="center"> <div class="form-group">
                   <input class="form-control" type="date" name="pdate" >
               </div></td>
            </tr>
            </table>
            <table border="0" align="left">
              <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ผลต่างราคาน้ำมันย้อนหลัง</button></td>
              </table>
            </form>
        
         
           <form action="/price/totle" method="post">
              <table border="0" align="left">
              <tr>
                  <td align="center"> <div class="form-group">
                      <input class="form-control" type="date" name="pdate" >
                  </div></td>
               </tr>
               </table>
               <table border="0" align="left">
                 <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ยอดคงเหลือย้อนหลัง</button></td>
                 </table>
               </form>
               </div>
         </div>
         <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ข้อมูลราคาน้ำมัน วันที่ <%= data2.split('-')[2] %>/<%= data2.split('-')[1] %>/<%= data2.split('-')[0] %>  </h2></th><br>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/price/new" class = "btn btn-success" style="position:relative" >เพิ่ม</a></td>
  </tr>
</table>
<table  border="0" align="right">
  <tr >
    <td colspan="6">
      <a href="/price" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a></td>
  </tr>
</table><br><br>
      <table class ="table table-bordered table-hover" border="0" id="customers">
        <thead>
          <tr align ="center" style=" background-color:#009966	; color: black;" >
            <th style=" background-color:#A0522D; color: white; width:7%">ลำดับ</th>
            <th style=" background-color:#A0522D; color: white; width:9%">วันเปลี่ยน</th>
            <th style=" background-color:#0066FF; color: white; width:8.3%">ดีเซล</th>
            <th style=" background-color:#000033; color: white; width:8.3%">ดีเซล (P)</th>
            <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            <th style=" background-color:#7CFC00; color: white; width:8.3%">E20</th>
            <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
            <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
            <th style=" background-color:#FFCC00; color: black; width:8.3%">ULG</th>
            <th colspan="2" style=" background-color:#A0522D; color: white;width:6%">จัดการ</th>
          </tr>
        </thead>
        <tbody>
              <% if (data){ for (var i = 0; i < data.length; i++) { %>
              <tr>
              <td align ="center"  > <%= (i+1) %> </td>
              <td align ="center"> <%= data[i].pdate %> </td>
              <td align ="center"> <% if(data[i].diesel != "0"){ %> <%= data[i].diesel %> <% } %> </td>
              <td align ="center"> <% if(data[i].dp != "0"){ %> <%= data[i].dp %> <% } %> </td>
              <td align ="center"> <% if(data[i].e85 != "0"){ %> <%= data[i].e85 %> <% } %> </td>
              <td align ="center"> <% if(data[i].e20 != "0"){ %> <%= data[i].e20 %> <% } %> </td>
              <td align ="center"> <% if(data[i].g91 != "0"){ %> <%= data[i].g91 %> <% } %> </td>
              <td align ="center"> <% if(data[i].g95 != "0"){ %> <%= data[i].g95 %> <% } %> </td>
              <td align ="center"> <% if(data[i].ulg != "0"){ %> <%= data[i].ulg %> <% } %> </td>
              <td align ="center" >
                <a href="/price/edit/<%= data[i].price_id %> " class="btn btn-info" style="width:80px;height:35px"> แก้ไข </a>
                <td align ="center" >
                <a href="/price/delete/<%= data[i].price_id %> " class="btn btn-danger" style="width:80px;height:35px"> ลบ </a>
                </td>
              </tr>
              <%  }} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include _footer %>
