<% include _header %>
<br>
<div class="container" >
  <div class="row justify-content-md-center" >
    <div class="col col-lg-10">
      <h2 align="center" style="color: black;"> เพิ่มข้อมูลราคาน้ำมัน </h2>
      <br>
      <div class="card" >
        <div class="card-body">

  <form action="/price/add" method="post">
    <div class="row text-left">
    <div class="col-md-12 mb-3">
    <div class="form-group">
      <label>1. วันที่ </label>
      <input type="date" name="pdate" value="<%= new Date( ).toISOString().split('T')[0]%>" class="form-control " >
    </div>
      </div>
      </div>
      <label>2. ราคาน้ำมัน</label>
      <table class ="table table-bordered table-hover" border="0" id="customer">
        <thead>
          <tr align ="center">
            <th style=" background-color:#0066FF; color: white; width:8.3%">ดีเซล</th>
            <th style=" background-color:#000033; color: white; width:8.3%">ดีเซล (P)</th>
            <th style=" background-color:#C71585; color: white; width:8.3%">E85</th>
            <th style=" background-color:#7CFC00; color: black; width:8.3%">E20</th>
            <th style=" background-color:#006400; color: white; width:8.3%">G91</th>
            <th style=" background-color:#FF6600; color: white; width:8.3%">G95</th>
            <th style=" background-color:#FFCC00; color: white; width:8.3%">ULG</th>
          </tr>
        </thead>
        </table>
        <table class ="table table-bordered table-hover" border="0" >
          <tbody >
              <input type="text" name="diesel" placeholder="ดีเซล"   style=" width:14.2%">
              <input type="text" name="dp" placeholder="ดีเซล (P)"   style=" width:14.3%">
              <input type="text" name="e85" placeholder="E85"   style=" width:14.3%">
              <input type="text" name="e20" placeholder="E20" style=" width:14.3%">
              <input type="text" name="g91" placeholder="G91" style=" width:14.3%">
              <input type="text" name="g95" placeholder="G95" style=" width:14.3%">
              <input type="text" name="ulg" placeholder="ULG" style=" width:14.3%">
              </tbody >
        </table>

    <button type="submit" class="btn btn-danger"> บันทึก </button>
    <a  href="/price/ " class="btn btn-info"> ย้อนกลับ </a>
  </form>
        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
