<% include _header %>
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-md-12">
          <h4 align="center" > บันทึกการเปลี่ยนแปลงราคาน้ำมันตั้งแต่ <%=(data.day1.split("-")[2])%>/<%=(data.day1.split("-")[1])%>/<%=(data.day1.split("-")[0])%> ถึง <%=(data.day2.split("-")[2])%>/<%=(data.day2.split("-")[1])%>/<%=(data.day2.split("-")[0])%> </h4>
          <br>
          <div class="card">
            <div class="card-body">
              <form action="/checkprofit/check" method="post">
              <table border="0" align="left">
              <tr>
                  <td align="center"> <label>วันเริ่มต้น</label><div class="form-group">
                      <input type="date" name="day1" value="<%=(data.day1)%>" class="form-control">
                  </div></td>
                  <td align="center"> <label>วันสิ้นสุด</label><div class="form-group">
                      <input type="date" name="day2" value="<%=(data.day2)%>" class="form-control">
                  </div></td>
               </tr>
               </table>
               <table border="0" align="left"><div class="form-group">
                 <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">ตรวจยอดเงินย้อนหลัง</button></td>
                 </div>
                 </table>
                 </form>
        <table class ="table table-bordered table-hover" border="0" id="customers" >
          <thead>
            <tr align ="center" style=" background-color:#009966	; color: black;" >
              <th style=" background-color:#0066FF; color: white; width:10%">วัน/เดือน/ปี</th>
              <th style=" background-color:#000033; color: white; width:80%">กำไรขาดทุน</th>
              <th style=" background-color:#C71585; color: white; width:10%">รวมสะสมทั้งหมด</th>

            </tr>
          </thead>
          <tbody>

                                           <% if (data2){%>
                  <%var sum = 0;%>
		  <%var sumall = 0;%>
		  <%var odiesel=0; %>
                  <%var oe85=0; %>
                  <%var og91=0; %>
                  <%var og95=0; %>
                  <%var ouig=0; %>
                  <%var odp=0; %>
                  <%var oe20=0; %>

                    <% for (var i = 0; i < data2.length; i++) {%>
                       <% if((odiesel==0&&data2[i].pdiesel>0)||(i==0&&data2[i].pdiesel>0)) { %>
                          <% odiesel=data2[i].pdiesel; %>
			  <% oe85=data2[i].pe85; %>
                          <% og91=data2[i].pg91; %>
                          <% og95=data2[i].pg95; %>
                          <% ouig=data2[i].pulg; %>
                          <% odp=data2[i].pdp; %>
                          <% oe20=data2[i].pe20; %>
                       <% } else if(i>0) { %>   
			 <% if((data2[i-1].pdiesel==null)&&(data2[i].pdiesel>0)||(data2[i-1].pdiesel>0)&&(data2[i].pdiesel>0)) { %>
			 
                          <%var d = (data2[i-1].diesel)*(data2[i].pdiesel-odiesel).toFixed(2);%>
                          <%var e85 = (data2[i-1].e85)*(data2[i].pe85-oe85).toFixed(2);%>
                          <%var g91 = (data2[i-1].g91)*(data2[i].pg91-og91).toFixed(2);%>
                          <%var g95 = (data2[i-1].g95)*(data2[i].pg95-og95).toFixed(2);%>
                          <%var uig = (data2[i-1].uig)*(data2[i].pulg-ouig).toFixed(2);%>
                          <%var dp = (data2[i-1].dp)*(data2[i].pdp-odp).toFixed(2);%>
                          <%var e20 = (data2[i-1].e20)*(data2[i].pe20-oe20).toFixed(2);%>
			  <% sum = (d)+(e85)+(g91)+(g95)+(uig)+(dp)+(e20); %>
			  <% sumall = sumall+sum; %>
    <%var sq = parseInt(sumall);%>
				
                                        <tr >
                                        <td align ="center" > <%=(data2[i].odate)%> </td>
                                        <td align ="center" >
                                        [D=<%=data2[i-1].diesel%>(<%= (data2[i].pdiesel-odiesel).toFixed(2) %>),
                                        DP=<%=data2[i-1].dp%>(<%= (data2[i].pdp-odp).toFixed(2)%>),
                                        UIG=<%=data2[i-1].uig%>(<%= (data2[i].pulg-ouig).toFixed(2)%>),
                                        G95=<%=data2[i-1].g95%>(<%= (data2[i].pg95-og95).toFixed(2)%>),
                                        G91=<%=data2[i-1].g91%>(<%= (data2[i].pg91-og91).toFixed(2)%>),
                                        E20=<%=data2[i-1].e20%>(<%= (data2[i].pe20-oe20).toFixed(2)%>),
                                        E85=<%=data2[i-1].e85%>(<%= (data2[i].pe85-oe85).toFixed(2)%>)
                                        ]<br>
                                        =
                                        <% if(sum >0){ %>
                                                <font color="blue">
                                        <% }else { %>
                                                <font color="red">
                                        <% } %>
                                        <%=sum.toLocaleString('en')%> </font>

<% if (sq>0){%>

<td align ="center"style=" color: blue;" ><%=sumall.toLocaleString('en')%></td>

</td>
 <% } else { %>  	
<td align ="center" style=" color: red;" ><%=sumall.toLocaleString('en')%></td>
<% } %>


                					 			</tr>
				
                 <% odiesel=data2[i].pdiesel; %>
                 <% oe85=data2[i].pe85; %>
                  <% og91=data2[i].pg91; %>
                  <% og95=data2[i].pg95; %>
                  <% ouig=data2[i].pulg; %>
                  <% odp=data2[i].pdp; %>
                  <% oe20=data2[i].pe20; %>


                             <% } %>
                <%}}} %>
          </tbody>
        </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include _footer %>

