<% include _header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ลบข้อมูลผู้ส่ง </h2>
      <br>
      <div class="card">
        <div class="card-body">

    <div class="form-group">
      <label>1. ผู้ส่ง</label>
      <input type="text" name="sender_name" value="<%= data1[0].sender_name %>" class="form-control " readonly >
    </div>
    <a  href="/sender/confirmdelete/<%= data1[0].sender_id %> " class="btn btn-danger"> ยืนยัน </a>
    <a  href="/sender/ " class="btn btn-info"> ย้อนกลับ </a>

        </div>
      </div>
    </div>
  </div>
</div>



<% include _footer %>
