<% include _header %>
<% JSON.stringify(data4) %>
<div class="container" >
  <div class="row mt-3">
    <div class="col-md-12">
      <%var fdate = new Date(back_date[0].date);
      var edate = new Date(back_date[9].date);
      var fday = fdate.getDate();
      var fmonth = fdate.getMonth()+1;
      var fyear = fdate.getFullYear();
      var eday = edate.getDate();
      var emonth = edate.getMonth()+1;
      var eyear = edate.getFullYear();%>
      <th>
        <h5 align="center" style="color: black;"> ยอดคงเหลือย้อนหลัง ตั้งแต่วันที่ <%=fday+'-'+fmonth+'-'+fyear%> ถึงวันที่ <%=eday+'-'+emonth+'-'+eyear%> </h5>
      </th>
      <br>
      <form action="/retest" method="post">
        <table border="0" align="left">
          <tr>
            <td align="center"> <div class="form-group">
              <input class="form-control" type="date" name="date" >
            </div></td>
          </tr>
        </table>
        <table border="0" align="left">
          <td align="center">&nbsp;<button type="submit" class="btn btn-outline-success">สรุปย้อนหลัง 10 วัน</button></td>
        </table>
      </form>
      <table  border="0" align="right">
        <tr >
          <td colspan="6">
            <a href="/sum" class = "btn btn-outline-secondary" style="position:relative" >ย้อนกลับ</a>
          </td>
        </tr>
      </table><br><br>
      <table class ="table table-bordered table-hover" border="0" id="customers">
        <thead>
          <tr align ="center" style=" background-color:#009966; color: black;" >
            <th style=" background-color:#994C00; color: white; width:120px">วัน/เดือน/ปี</th>
            <th style=" background-color:#009900; color: white; width:120px">น้ำมันใต้ดิน L</th>
            <th style=" background-color:#009900; color: white; width:120px">น้ำมันใต้ดิน B</th>
            <th style=" background-color:#0066FF; color: white; width:120px">น้ำมันขนส่ง L</th>
            <th style=" background-color:#0066FF; color: white; width:120px">น้ำมันขนส่ง B</th>
            <th style=" background-color:#0000CC; color: white; width:120px">ยอดหนี้ธนาคาร</th>
            <th style=" background-color:#C71585; color: white; width:120px">ยอดลูกหนี้สะสม</th>
            <th style=" background-color:#999900; color: white; width:120px">รวม</th>
            <th style=" background-color:#A0A0A0; color: white; width:120px">ผลต่าง</th>
          </tr>
        </thead>

        <tbody>
          <%for (var i = 0; i < 10; i++) {%>
            <tr  style=" background-color:; color: white;">
              <td align ="center" style=" background-color:#FF9933; color: black;"><%=last[i].date%> </td>
                <td align ="center" style=" background-color:#33FF33; color: black;"> <%=last[i].d1oil.toLocaleString()%> .L</td>
                <td align ="center" style=" background-color:#33FF33; color: black;"> <%=last[i].d1send.toLocaleString()%> .B</td>
                <td align ="center" style=" background-color:#3399FF; color: black;"> <%=last[i].d2oil.toLocaleString()%> .L</td>
                <td align ="center" style=" background-color:#3399FF; color: black;"> <%=last[i].d2send.toLocaleString()%> .B</td>
                <%if (last[i].balance < 0) {%>
                  <td align ="center" style=" background-color:#3333FF; color: black;"> <%=last[i].balance.toLocaleString()%> .B</td>
                <%}else {%>
                  <td align ="center" style=" background-color:#3333FF; color: black;"> <%=last[i].balance.toLocaleString()%> .B</td>
                <%}%>
                <%if (last[i].debt < 0) {%>
                  <td align ="center" style=" background-color:#FF33FF; color: black;"> <%=last[i].debt.toLocaleString()%> .B</td>
                <%}else {%>
                  <td align ="center" style=" background-color:#FF33FF; color: black;"> <%=last[i].debt.toLocaleString()%> .B</td>
                <%}%>
                <td align ="center" style=" background-color:#FFFF33; color: black;"> <%=((parseFloat(last[i].d1send))+(parseFloat(last[i].d2send))+(parseFloat(last[i].balance))+(parseFloat(last[i].debt))).toLocaleString()%> .B</td>
                <%var io = 0;
                for (var j = 0; j < forsub.length; j++) {
                  if (forsub[j].date == last[i].date) {
                    io = ((parseFloat(last[i].d1send))+(parseFloat(last[i].d2send))+(parseFloat(last[i].balance))+(parseFloat(last[i].debt)))-((parseFloat(forsub[j].d1send))+(parseFloat(forsub[j].d2send))+(parseFloat(forsub[j].balance))+(parseFloat(forsub[j].debt)));
                  }%>
                <%}%>
                <%if (io < 0) {%>
                  <td align="right" style=" background-color:#FFFFFF; color: red;"><%=io.toLocaleString()%></td>
                <%}else {%>
                  <td align="right" style=" background-color:#FFFFFF; color: black;"><%=io.toLocaleString()%></td>
                <%}%>
              </tr>
            <%}%>
            </tbody>
          </table>
        </div>
    </div>

<% include _footer %>
