<%- include ../../_header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ชนิดน้ำมัน </h2>
      <br>
      <div class="text-right">
        <a class="btn btn-dark" href="/oil_type">กลับ</a>
      </div>
      <br>
      <form class="form-group" action="/oil_type/add" method="post">
        <input type="hidden" name="color" value="0">
        <input type="hidden" name="name" value="0">
        <table class ="table table-bordered table-hover" border="0" id="customers">
          <thead>
            <tr align ="center" style=" background-color:#009966	; color: black;" >
              <th width="7%">ลำดับ</th>
              <th width="10%">สี</th>
              <th>ชนิดน้ำมัน</th>
              <th width="50px"></th>
            </tr>
          </thead>
          <tbody id="tbody">
            <tr id="tr_1">
              <td align ="center">1</td>
              <td align ="center"><input class="form-control" type="color" name="color" value="#ffffff"></td>
              <td align ="center"><input class="form-control" type="text" name="name" value=""></td>
              <td align ="center"><a href="#" class="text-danger" onclick="removeRow(tr_1)">- ลบ</a></td>
            </tr>
          </tbody>
        </table>
        <div class="text-left">
          <a href="#" id="add">+ เพิ่มแถว</a>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-success">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var trid = 2;
  $('form a#add').on('click',function(){
    $('form > table > tbody').append('<tr id="tr_'+trid+'"><td align ="center"></td>'
      +'<td align ="center"><input class="form-control" type="color" name="color" value="#ffffff"></td>'
      +'<td align ="center"><input class="form-control" type="text" name="name" value=""></td>'+
      '<td><a href="#" class="text-danger" onclick="removeRow(tr_'+trid+')"> - ลบ</a></td></tr>');
      trid++;
      runNumber();
  });

  var tbody = document.getElementById('tbody');
  var tr = tbody.getElementsByTagName('tr');

  function removeRow(r){
    if (tr.length > 1) {
      $(r).remove();
      runNumber();
    }
  }

  function runNumber(){
    console.log(tbody , tr);
    $.each( tr, function (i, el) {
      var getId = $(tr[i]).attr('id');
      $('tr#'+getId).find("td:eq(0)").text(i+1);
    });
  }
</script>

<%- include ../../_footer %>
