<%- include ../../_header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <th><h2 align="center" style="color: black;"> ชนิดน้ำมัน </h2></th><br>
        <br><br>
        <div class="text-right">
          <a class="btn btn-dark" href="/oil_type">กลับ</a>
        </div>
        <table class ="table table-bordered table-hover" border="0" id="customers">
          <thead>
            <tr align ="center" style=" background-color:#009966	; color: black;" >
              <th style="width:7%">ลำดับ</th>
              <th width="10%">สี</th>
              <th>ชนิดน้ำมัน</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <% if (data){ for (var i = 0; i < data.length; i++) { %>
              <tr>
              <td align="center"> <%= (i+1) %> </td>
              <td align="center">
                <button class="block" style="width: 40px; height:20px; background-color: <%=data[i].color%>"></button>
              </td>
              <td align="center"> <%= data[i].name%> </td>
              <td align="center" style="width:15%">
                <a href="/oil_type/confirmdelete/<%= data[i].id %> " class="btn btn-danger" style="width:80px;height:35px"> ลบ </a>
                </td>
              </tr>
              <%  }} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include ../../_footer %>
