<%- include ../../_header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ชนิดน้ำมัน </h2><br>
      <br><br>
      <div class="text-right">
        <a class="btn btn-dark" href="/oil_type">กลับ</a>
      </div>
      <form class="form-group" action="/oil_type/save/<%=data[0].id%>" method="post">
        <table class ="table table-bordered table-hover" border="0" id="customers">
          <thead>
            <tr align ="center" style=" background-color:#009966	; color: black;" >
              <th width="7%">ลำดับ</th>
              <th width="10%">สี</th>
              <th>ชนิดน้ำมัน</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align ="center">1</td>
              <td align ="center"><input class="form-control" type="color" name="color" value="<%=data[0].color%>"></td>
              <td align ="center"><input class="form-control" type="text" name="name" value="<%=data[0].name%>"></td>
            </tr>
          </tbody>
        </table>
        <div class="text-right">
          <button type="submit" class="btn btn-success">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>


<%- include ../../_footer %>
