<%-include('../../_header.ejs')%>

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h3> <%= url.name %> </h3>
        </div>
        <div class="col-md-4">
          <div class="text-right">
            <a class="btn btn-dark" href="/match_oil_branch">กลับ</a>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <table class ="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>ชนิดน้ำมัน</th>
                <th>สถานะ</th>
                <th>ตัวเลือก</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0 ; i < oil_type.length ; i++){ %>
                <tr>
                  <td>
                    <%=i+1%>
                  </td>
                  <td style="background-color: <%= oil_type[i].color %>;">
                    <%=oil_type[i].name%>
                  </td>
                  <% var x = false  ;%>
                  <% for(var j = 0 ; j < match_oil_branch.length ; j++){ %>
                    <% if(match_oil_branch[j].oil_type_id == oil_type[i].id && match_oil_branch[j].cancle == 1){ %>
                      <% x = true ;%>
                    <% } %>
                  <% } %>
                  <% if(x == true){ %>
                    <td style="color: rgb(19, 161, 19);">มีจำหน่าย</td>
                    <td>
                      <a href="/match_oil_branch/add/<%=oil_type[i].id%>/0/<%=url.id%>/<%=url.name%>" class="btn btn-danger">ยกเลิก</a>
                    </td>
                  <% }else{ %>
                    <td  style="color: brown;">ไม่มีจำหน่าย</td>
                    <td>
                      <a href="/match_oil_branch/add/<%=oil_type[i].id%>/1/<%=url.id%>/<%=url.name%>" class="btn btn-success">วางจำหน่าย</a>
                    </td>
                  <% } %>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('../../_footer.ejs')%>
