<%-include('../../_header.ejs')%>

    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h3 class="text-center"> จัดการน้ำมันของสาขา</h3>
                <br>

                <% for(var i=0;i<branch.length;i++){ %>
                    <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <h3><%=branch[i].branch_name%></h3>
                            </div>
                            <div class="col-md-4">
                              <div class="text-right">
                                <a href="/match_oil_branch/new/<%=branch[i].branch_id%>/<%=branch[i].branch_name%>"class="btn btn-success">เพิ่มรายการ</a>
                              </div>
                            </div>
                          </div>
                            <table class ="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 50%;">ชนิดน้ำมัน</th>
                                        <th style="width: 50%;">สถานะ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var j=0;j<match_oil_branch.length;j++){ %>
                                        <% if(branch[i].branch_id==match_oil_branch[j].branch_id){ %>
                                            <tr>
                                                <td>
                                                    <%=match_oil_branch[j].oiltype%>
                                                </td>
                                                <% if(match_oil_branch[j].cancle==0){ %>
                                                     <td style="color: brown;">ไม่มีจำหน่าย</td>
                                                <% }else{ %>
                                                    <td style="color: rgb(19, 161, 19);">มีจำหน่าย</td>
                                                <% } %>
                                            </tr>
                                            <% } %>
                                                <% } %>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <% } %>

            </div>
        </div>
    </div>

    <%-include('../../_footer.ejs')%>
