<%- include ../../_header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> สรุปยอดขายน้ำมันใสประจำวันที่ <%=fullDate%> </h2><br>
      <div class="row">
        <div class="col-md-8">
          <form class="form-group" action="/sale_liter/day_conclude" method="post">
            <div class="input-group">
              <div class="col-md-4">
                <input class="form-control text-center" type="date" name="fullDate" value="<%=fullDate%>">
              </div>
              <button class="btn btn-primary" type="submit">ค้นหา</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="text-right">
            <a href="/sale_liter/average/day_conclude/<%=fullDate%>" class="btn btn-secondary" style="position:relative">เฉลี่ย/วัน</a>
            <a href="/sale_liter/back/<%=fullDate%>" class="btn btn-dark" style="position:relative">หน้าบันทึก</a>
          </div>
        </div>
      </div>
      <br>
      <table class ="table table-bordered table-hover">
        <thead>
          <tr align="center">
            <th class="bg-warning" rowspan="2" width="10%">ลำดับ</th>
            <th class="bg-secondary" rowspan="2" width="20%">ชนิดน้ำมัน</th>
            <th class="bg-info" colspan="<%=branch.length%>">ยอดขาย (ลิตร)</th>
            <th class="bg-secondary" rowspan="2">รวม</th>
          </tr>
          <tr class="bg-success">
            <%for (var i = 0; i < branch.length; i++) {%>
              <th class="text-center bg-success"><%=branch[i].branch_name%></th>
            <%}%>
          </tr>
        </thead>
        <tbody>
          <%for (var j = 0; j < oil_type.length; j++) {var varoi = 0;%>
            <tr>
              <td class="text-center"><%=j+1%></td>
              <td style="background-color: <%=oil_type[j].color%>"><%=oil_type[j].name%></td>
              <%for (var i = 0; i < branch.length; i++) {%>
                <td class="text-right">
                  <%for (var k = 0; k < data.length; k++) {%>
                    <%if (branch[i].branch_id == data[k].branch_id && oil_type[j].id == data[k].oil_type_id) {%>
                      <%=data[k].liter.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      <%varoi += data[k].liter%>
                    <%}%>
                  <%}%>
                </td>
              <%}%>
              <td class="text-right"><%=varoi.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
            </tr>
          <%}%>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-center" colspan="2"><b>รวม</b></td>
            <%var get_sum = 0;for (var i = 0; i < sum.length; i++) {%>
              <td class="text-right">
                <%=sum[i].sum.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                <%get_sum += sum[i].sum%>
              </td>
            <%}%>
            <td class="text-right"><%=get_sum.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<%- include ../../_footer %>
