<%- include ../../_header %>

<div class="container-fluid" >
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ยอดขายน้ำมันใสเฉลี่ยต่อวันแยกตามชนิดประจำปี <%=fullYear%> </h2><br>
      <%var m = ["มกราคม","กุมภาพันธ์","มีนาคม","เมษายน","พฤษภาคม","มิถุนายน","กรกฏาคม","สิงหาคม","กันยายน","ตุลาคม","พฤศจิกายน","ธันวาคม"];%>
      <div class="row">
        <div class="col-md-8">
          <form class="form-group" action="/sale_liter/average/day_conclude/<%=fullDate%>" method="post">
            <div class="input-group">
              <div class="col-md-4">
                <datalist class="" id="yearList">
                  <%for (var i = 0; i < year.length; i++) {%>
                    <option value="<%=year[i].year%>"></option>
                  <%}%>
                </datalist>
                <input list="yearList" class="form-control text-center" type="text" name="fullYear" value="<%=fullYear%>">
              </div>
              <button class="btn btn-primary" type="submit">ค้นหา</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="text-right">
            <a href="/sale_liter/day_conclude/<%=fullDate%>" class="btn btn-dark" style="position:relative">หน้าสรุปยอดขาย</a>
          </div>
        </div>
      </div>
      <br>
      <table class ="table table-bordered table-hover">
        <thead>
          <tr align="center">
            <th class="bg-warning" rowspan="2" width="8%">ชนิดน้ำมัน</th>
            <th class="bg-secondary" rowspan="2" width="5%">สาขา</th>
            <th class="bg-info" colspan="<%=m.length%>">เดือน</th>
          </tr>
          <tr class="bg-success">
            <%for (var i = 0; i < m.length; i++) {%>
              <th class="text-center bg-success"><%=m[i]%></th>
            <%}%>
          </tr>
        </thead>
        <tbody>
          <%for (var i = 0; i < oil_type.length; i++) {%>
            <tr>
              <td class="text-center" style="background-color: <%=oil_type[i].color%>" rowspan="<%=keepBranch[i].length+1%>"><%=oil_type[i].name%></td>
            </tr>
            <%for (var j = 0; j < keepBranch[i].length; j++) {%>
              <%if (oil_type[i].id == keepBranch[i][j].oil_type_id) {%>
                <tr>
                  <td><%=keepBranch[i][j].branch_name%></td>
                  <%var sumRow = 0;for (var k = 0; k < m.length; k++) {%>
                    <td class="text-right">
                      <%for (var l = 0; l < sum.length; l++) {%>
                        <%if (oil_type[i].id == sum[l].oil_type_id && keepBranch[i][j].branch_id == sum[l].branch_id && k == parseInt(sum[l].m)-1) {%>
                          <%=(sum[l].sum/sum[l].count).toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                          <%sumRow += sum[l].sum/sum[l].count%>
                        <%}%>
                      <%}%>
                    </td>
                  <%}%>
                </tr>
              <%}%>
            <%}%>
          <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include ../../_footer %>
