<%- include ../../_header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ยอดขายน้ำมันใสประจำวันที่ <%=fullDate%> </h2><br>
      <div class="text-right">
        <a href="/sale_liter/back/<%=fullDate%>" class="btn btn-dark" style="position:relative">กลับ</a>
      </div>
      <br>
      <div class="row">
        <%for (var i = 0; i < branch.length; i++) {%>
          <div class="col-md-6">
            <div class="text-left">
              <h3><%=branch[i].branch_name%></h3>
            </div>
            <table class ="table table-bordered table-hover">
              <thead>
                <tr align ="center">
                  <th class="bg-warning" width="10%">ลำดับ</th>
                  <th class="bg-info" width="45%">ชนิดน้ำมัน</th>
                  <th class="bg-success" width="45%">ยอดขาย (ลิตร)</th>
                </tr>
              </thead>
              <tbody>
                <%var t = 1;for (var j = 0; j < oil_type.length; j++) {%>
                  <%if (oil_type[j].branch_id == branch[i].branch_id) {%>
                    <tr>
                      <td align="center"><%=t++%></td>
                      <td align="center" style="background-color: <%=oil_type[j].color%>"><b><%=oil_type[j].name%></b></td>
                      <td align="right">
                        <%for (var k = 0; k < data.length; k++) {%>
                          <%if (data[k].branch_id == branch[i].branch_id && data[k].oil_type_id == oil_type[j].id) {%>
                            <%=data[k].liter%>
                          <%}%>
                        <%}%>
                      </td>
                    </tr>
                  <%}%>
                <%}%>
              </tbody>
            </table>
          </div>
        <%}%>
      </div>
      <div class="text-right mb-5">
        <%if (branch.length < 2) {%>
          <a class="btn btn-danger" href="/sale_liter/confirmdelete/<%=branch[0].branch_id%>/<%=fullDate%>">ยืนยัน</a>
        <%}else {%>
          <a class="btn btn-danger" href="/sale_liter/confirmdelete/<%=fullDate%>">ยืนยัน</a>
        <%}%>
      </div>
    </div>
  </div>
</div>

<%- include ../../_footer %>
