<%- include ../../_header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ยอดขายน้ำมันใสประจำวันที่ <%=fullDate%> </h2><br>
      <div class="row">
        <div class="col-md-8">
          <form class="form-group" action="/sale_liter" method="post">
            <div class="input-group">
              <div class="col-md-4">
                <input class="form-control text-center" type="date" name="fullDate" value="<%=fullDate%>">
              </div>
              <button class="btn btn-primary" type="submit">ค้นหา</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="text-right">
            <%if (data.length > 0) {%>
              <a href="/sale_liter/day_conclude/<%=fullDate%>" class="btn btn-secondary" style="position:relative">สรุปรายวัน</a>
              <a href="/sale_liter/edit/<%=fullDate%>" class="btn btn-info" style="position:relative">แก้ไข</a>
              <a href="/sale_liter/delete/<%=fullDate%>" class="btn btn-danger" style="position:relative">ลบ</a>
            <%}else {%>
              <a href="/sale_liter/new/all/<%=fullDate%>" class="btn btn-success" style="position:relative">เพิ่ม</a>
            <%}%>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <%for (var i = 0; i < branch.length; i++) {var c = 0; var sum = 0;%>
          <div class="col-md-6">
            <div class="text-left">
              <h3><%=branch[i].branch_name%></h3>
            </div>
            <table class ="table table-bordered table-hover">
              <thead>
                <tr align ="center">
                  <th class="bg-warning" width="10%">ลำดับ</th>
                  <th class="bg-info" width="45%">ชนิดน้ำมัน</th>
                  <th class="bg-success" width="45%">ยอดขาย (ลิตร)</th>
                </tr>
              </thead>
              <tbody>
                <%var d = new Date();
                var day = d.getDate()-1;
                var m = d.getMonth()+1;
                if (m < 10) {
                  m = "0"+m;
                }
                var cdate = d.getFullYear()+"-"+m+"-"+day;%>
                <%if (cdate == fullDate) {%>
                  <%var t = 1;for (var j = 0; j < oil_type1.length; j++) {%>
                    <%if (oil_type1[j].branch_id == branch[i].branch_id) {%>
                      <tr>
                        <td align="center"><%=t++%></td>
                        <td align="center" style="background-color: <%=oil_type1[j].color%>"><b><%=oil_type1[j].name%></b></td>
                        <td align="right">
                          <%for (var k = 0; k < data.length; k++) {%>
                            <%if (data[k].branch_id == branch[i].branch_id && data[k].oil_type_id == oil_type1[j].id) { c = 1;%>
                              <%=data[k].liter.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                              <%sum += data[k].liter%>
                            <%}%>
                          <%}%>
                        </td>
                      </tr>
                    <%}%>
                  <%}%>
                <%}else if(oil_type2.length > 0){%>
                  <%var t = 1,bl = 0;for (var j = 0; j < oil_type2.length; j++) {%>
                    <%if (oil_type2[j].branch_id == branch[i].branch_id) { bl = 1;%>
                      <tr>
                        <td align="center"><%=t++%></td>
                        <td align="center" style="background-color: <%=oil_type2[j].color%>"><b><%=oil_type2[j].name%></b></td>
                        <td align="right">
                          <%for (var k = 0; k < data.length; k++) {%>
                            <%if (data[k].branch_id == branch[i].branch_id && data[k].oil_type_id == oil_type2[j].id) { c = 1;%>
                              <%=data[k].liter.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                              <%sum += data[k].liter%>
                            <%}%>
                          <%}%>
                        </td>
                      </tr>
                    <%}%>
                  <%}%>
                  <%if(bl == 0) {%>
                    <%for (var l = 0; l < oil_type1.length; l++) {%>
                      <%if (oil_type1[l].branch_id == branch[i].branch_id) {%>
                        <tr>
                          <td align="center"><%=t++%></td>
                          <td align="center" style="background-color: <%=oil_type1[l].color%>"><b><%=oil_type1[l].name%></b></td>
                          <td align="right">
                          </td>
                        </tr>
                      <%}%>
                    <%}%>
                  <%}%>
                <%}else {%>
                  <%var t = 1;for (var j = 0; j < oil_type1.length; j++) {%>
                    <%if (oil_type1[j].branch_id == branch[i].branch_id) {%>
                      <tr>
                        <td align="center"><%=t++%></td>
                        <td align="center" style="background-color: <%=oil_type1[j].color%>"><b><%=oil_type1[j].name%></b></td>
                        <td align="right"></td>
                      </tr>
                    <%}%>
                  <%}%>
                <%}%>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center" colspan="2"><b>รวม</b></td>
                  <td class="text-right"><%=sum.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
                </tr>
              </tfoot>
            </table>
            <div class="text-right mb-5">
              <%if (data.length > 0 && c == 1) {%>
                <a class="btn btn-info" href="/sale_liter/edit/<%=branch[i].branch_id%>/<%=fullDate%>">แก้ไข</a>
                <a class="btn btn-danger" href="/sale_liter/delete/<%=branch[i].branch_id%>/<%=fullDate%>">ลบ</a>
              <%}else {%>
                <a href="/sale_liter/new/branch/<%=branch[i].branch_id%>/<%=fullDate%>" class="btn btn-success" style="position:relative">เพิ่ม</a>
              <%}%>
            </div>
          </div>
        <%}%>
      </div>
    </div>
  </div>
</div>

<%- include ../../_footer %>
