<%- include ../../_header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ยอดขายน้ำมันใสประจำวันที่ <%=fullDate%> </h2><br>
      <div class="text-right">
        <a class="btn btn-dark" href="/sale_liter/back/<%=fullDate%>">กลับ</a>
      </div>
      <form class="form-group" action="/sale_liter/add/<%=fullDate%>" method="post">
        <div class="row">
          <%for (var i = 0; i < branch.length; i++) {%>
            <div class="col-md-6">
              <div class="text-left">
                <h3><%=branch[i].branch_name%></h3>
              </div>
              <table class ="table table-bordered table-hover">
                <thead>
                  <tr align ="center">
                    <th class="bg-warning" width="10%">ลำดับ</th>
                    <th class="bg-info" width="45%">ชนิดน้ำมัน</th>
                    <th class="bg-success" width="45%">ยอดขาย (ลิตร)</th>
                  </tr>
                </thead>
                <tbody>
                  <%var t = 1;for (var j = 0; j < oil_type.length; j++) {%>
                    <%if (oil_type[j].branch_id == branch[i].branch_id) {%>
                      <tr>
                        <td align="center">
                          <%=t++%>
                          <input type="hidden" name="branch_id" value="<%=branch[i].branch_id%>">
                        </td>
                        <td align="center" style="background-color: <%=oil_type[j].color%>">
                          <b><%=oil_type[j].name%></b>
                          <input type="hidden" name="oil_type_id" value="<%=oil_type[j].id%>">
                          <input type="date" name="date" value="<%=fullDate%>" hidden>
                        </td>
                        <td align="center"><input class="form-control text-right" type="text" name="liter" value=""></td>
                      </tr>
                    <%}%>
                  <%}%>
                </tbody>
              </table>
            </div>
          <%}%>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-success">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include ../../_footer %>
