<%- include ../../_header %>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 align="center" style="color: black;"> ยอดขายน้ำมันใสของแต่ละสาขาประจปี <%=fullYear%> </h2><br>
      <%var m = ["มกราคม","กุมภาพันธ์","มีนาคม","เมษายน","พฤษภาคม","มิถุนายน","กรกฏาคม","สิงหาคม","กันยายน","ตุลาคม","พฤศจิกายน","ธันวาคม"];%>
      <div class="row">
        <div class="col-md-8">
          <form class="form-group" action="/sale_liter/year_conclude" method="post">
            <div class="input-group">
              <div class="col-md-4">
                <datalist class="" id="yearList">
                  <%for (var i = 0; i < year.length; i++) {%>
                    <option value="<%=year[i].year%>"></option>
                  <%}%>
                </datalist>
                <input list="yearList" class="form-control text-center" type="text" name="fullYear" value="<%=fullYear%>">
              </div>
              <button class="btn btn-primary" type="submit">ค้นหา</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="text-right">
            <a class="btn btn-secondary" href="/sale_liter/year/report/<%=fullYear%>" target="_blank">ทำรายงาน</a>
          </div>
        </div>
      </div>
      <br>
      <table class ="table table-bordered table-hover">
        <thead>
          <tr align="center">
            <th class="bg-warning" rowspan="2" width="10%">ลำดับ</th>
            <th class="bg-secondary" rowspan="2" width="20%">เดือน</th>
            <th class="bg-info" colspan="<%=branch.length%>">ยอดขาย (ลิตร)</th>
            <th class="bg-secondary" rowspan="2">รวม</th>
          </tr>
          <tr class="bg-success">
            <%for (var i = 0; i < branch.length; i++) {%>
              <th class="text-center"><%=branch[i].branch_name%></th>
            <%}%>
          </tr>
        </thead>
        <tbody>
          <%var count = 0,c;for (var j = 0; j < m.length; j++) {var sumY = 0;%>
            <tr>
              <td class="text-center"><%=j+1%></td>
              <td class="text-center"><%=m[j]%></td>
              <%for (var i = 0; i < branch.length; i++) {%>
                <td class="text-right">
                  <%for (var k = 0; k < data.length; k++) {%>
                    <%if (branch[i].branch_id == data[k].branch_id && j == (parseInt(data[k].month)-1)) {%>
                      <%=data[k].sum.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                      <%sumY += data[k].sum;
                      if (c != data[k].month) {
                        c = data[k].month
                        count++
                      }%>
                    <%}%>
                  <%}%>
                </td>
              <%}%>
              <td class="text-right">
                <%if (sumY != 0) {%>
                  <%=sumY.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                <%}%>
              </td>
            </tr>
          <%}%>
        </tbody>
        <tfoot>
          <tr class="bg-info">
            <td class="text-center" colspan="2"><b>รวม</b></td>
            <%var get_sum = 0;if (sum.length > 0) {
              for (var i = 0; i < sum.length; i++) {%>
                <td class="text-right">
                  <%=sum[i].sum.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                  <%get_sum += sum[i].sum%>
                </td>
              <%}%>
              <%}else {%>
                <%for (var i = 0; i < branch.length; i++) {%>
                  <td class="text-right"></td>
                <%}%>
              <%}%>
            <td class="text-right"><%=get_sum.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
          </tr>
          <tr class="bg-warning">
            <td class="text-center" colspan="2"><b>เฉลี่ย</b></td>
            <%var get_total = 0;if (sum.length > 0) {
              for (var i = 0; i < sum.length; i++) {%>
                <td class="text-right">
                  <%=(sum[i].sum/count).toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
                  <%get_total += sum[i].sum/count%>
                </td>
              <%}%>
            <%}else {%>
              <%for (var i = 0; i < branch.length; i++) {%>
                <td class="text-right"></td>
              <%}%>
            <%}%>
            <td class="text-right"><%=get_total.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<%- include ../../_footer %>
